In [99]:
from datetime import datetime
from time import sleep
from collections import Counter
import random

### For-Loop und List Comprehensions

In [2]:
strange_list = ['Anna', 'Tina', 3.7, True, 4, {'Pikachu': '500 HP'}, 'Tina',
				['Hallo', 'wo', 'zum', 'Teufel', 'bin', 'ich?',
				 ['Die Antwort ist', [], 42, 'hab', 'ich', 'gehört']]]

In [13]:
# Finde mittels for-Schleife alle Vorkommnisse von Tina:
for i, x in enumerate(strange_list):
	if x == "Tina":
		print(f"{x} gefunden an {i}")

Tina gefunden an 1
Tina gefunden an 6

In [14]:
# Finde mittels list comprehension dasselbe:
tinas = [(i, x) for i, x in enumerate(strange_list) if x == "Tina"]
tinas

[(1, 'Tina'), (6, 'Tina')]

In [17]:
# Dasselbe mit builtin filter:
tinas2 = list(filter(lambda x: x[1] == "Tina", enumerate(strange_list)))
tinas2

[(1, 'Tina'), (6, 'Tina')]

In [19]:
# Zahlen zufällig würfeln:
random.seed(42)
numbers = [random.randint(1, 100) for num in range(100)]
print(numbers)

[82, 15, 4, 95, 36, 32, 29, 18, 95, 14, 87, 95, 70, 12, 76, 55, 5, 4, 12, 28, 30, 65, 78, 4, 72, 26, 92, 84, 90, 70, 54, 29, 58, 76, 36, 1, 98, 21, 90, 55, 44, 36, 20, 28, 98, 44, 14, 12, 49, 13, 46, 45, 78, 34, 6, 94, 59, 69, 16, 49, 11, 71, 38, 81, 80, 47, 74, 25, 91, 9, 6, 85, 30, 99, 38, 11, 30, 13, 49, 36, 59, 82, 47, 21, 48, 46, 27, 86, 35, 90, 88, 83, 10, 78, 82, 22, 69, 94, 32, 21]

In [22]:
# Filtere alle durch 7 teilbaren Zahlen heraus. Arbeite mit einer for-Schleife:
for num in numbers:
	if num % 7 == 0:
		print(f"durch 7 teilbar: {num}")

durch 7 teilbar: 14
durch 7 teilbar: 70
durch 7 teilbar: 28
durch 7 teilbar: 84
durch 7 teilbar: 70
durch 7 teilbar: 98
durch 7 teilbar: 21
durch 7 teilbar: 28
durch 7 teilbar: 98
durch 7 teilbar: 14
durch 7 teilbar: 49
durch 7 teilbar: 49
durch 7 teilbar: 91
durch 7 teilbar: 49
durch 7 teilbar: 21
durch 7 teilbar: 35
durch 7 teilbar: 21

In [29]:
divis = []
for num in numbers:
	if num % 7 == 0:
		divis.append(num)
print(divis)

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [23]:
# Dasselbe mit einer list comprehension:
[num for num in numbers if num % 7 == 0]

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [27]:
# Dasselbe mit filter:
divs7 = list(filter(lambda num: num % 7 == 0, numbers))
divs7

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [ ]:
# ÜBUNG:
# Gegeben ist folgende Liste: ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', Minna', 'Lena', 'Hanna']
# Einfach: Finde mittels For-Loop alle Positionen, an denen 'Anna' vorkommt
# Etwas schwieriger: Finde mittels For-Loop alle Positionen von Strings, die mit 'nna' enden.

In [40]:
blub = ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', 'Minna', 'Lena', 'Hanna']
for idx, item in enumerate(blub):
	if item.endswith("nna"):
		print(f"=> '{item}' gefunden an Index: {idx}")

=> 'Anna' gefunden an Index: 0
=> 'Anna' gefunden an Index: 4
=> 'Minna' gefunden an Index: 6
=> 'Hanna' gefunden an Index: 8

### Definition bzw. Erklärung for-Loop !!!
###
### for idx, item in enumerate(blub):
### => ...für Index(idx) und Element(item) prüfe...
###		if item.endswith("nna"):
### => ...ob item mit 'nna' endet...
###			print(f"=> '{item}' gefunden an Index: {idx}")
### => ...wenn dem so ist printe '{item}' gefunden an Index: {idx}

In [ ]:
# ÜBUNG
# Du hast eine Liste von Preisen: [12, 10, 80, 65, 14, 5, 12]
# Es gibt eine Rabattaktion. Senke alle Elemente in der Liste um 20 Prozent.
# Benutze hierfür list comprehension. Runde auf zwei Nachkommastellen.

In [35]:
prices = [12, 10, 80, 65, 14, 5, 12]
discountprices = [round(price * 0.8, 2) for price in prices]
print(discountprices)

[9.6, 8.0, 64.0, 52.0, 11.2, 4.0, 9.6]

### Dictionaries

In [54]:
# Mehr Dictionaries
anna_blume = dict(nachname='Blume',
				  vorname='Anna',
				  alter=30,
				  beruf='Data Analyst',
				  fertigkeiten=['Python', 'Pandas', 'Numpy', 'Scikit-Learn',
								'Power BI', 'SQL', 'Matplotlib & Seaborn'],
				  hobbies=['Reisen', 'Tanzen', 'Bücher lesen'],
				  gewicht=67.5,
				  verheiratet=True)

In [ ]:
# Dictionaries können natürlich auch immer so erstellt werden:
# {'nachname': 'Blume', 'vorname': 'Anna' ...}

In [55]:
# Wie fügt man dem Ganzen einen Eintrag 'haustier' mit Wert 'Hund' hinzu?
anna_blume["haustier"] = "Hund"
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 30,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'verheiratet': True,
 'haustier': 'Hund'}

In [56]:
# Wie erhöht man das Alter Annas von 30 auf 31?
anna_blume["alter"] = 31
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 31,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'verheiratet': True,
 'haustier': 'Hund'}

In [57]:
# Alternativ auch (dann wird sie halt 32):
anna_blume["alter"] += 1
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'verheiratet': True,
 'haustier': 'Hund'}

In [58]:
# Wie entfernt man die Information zum Verheiratet-Status?
anna_blume.pop("verheiratet")
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'haustier': 'Hund'}

In [59]:
# Füge dem Dictionary einen weiteren Eintrag 'lieblingsessen' hinzu mit dem Wert 'Chinesisch':
anna_blume["lieblingsessen"] = "Chinesisch"
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'haustier': 'Hund',
 'lieblingsessen': 'Chinesisch'}

In [60]:
# Anna hat zugelegt. Erhöhe das Gewicht auf 95.5 kg:
anna_blume["gewicht"] += 28
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 95.5,
 'haustier': 'Hund',
 'lieblingsessen': 'Chinesisch'}

In [61]:
# Der Hund ist gestorben... Entferne das Haustier:
anna_blume.pop("haustier")
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 95.5,
 'lieblingsessen': 'Chinesisch'}

In [64]:
# Anna geht nicht mehr gern tanzen. Entferne dieses Hobby.
anna_blume["hobbies"].pop(1)
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Bücher lesen'],
 'gewicht': 95.5,
 'lieblingsessen': 'Chinesisch'}

In [65]:
# Füge stattdessen das Hobby 'Musizieren' hinzu:
anna_blume["hobbies"].append("Musizieren")
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Bücher lesen', 'Musizieren'],
 'gewicht': 95.5,
 'lieblingsessen': 'Chinesisch'}

In [66]:
# Schaue dir ihre Hobbies an:
anna_blume["hobbies"]

['Reisen', 'Bücher lesen', 'Musizieren']

# While Loops bauen

In [70]:
# Ein Counter der von 10 runter zählt und dann "Neujahr" schreibt.
countdown = 10
while countdown > 0:
	print(countdown)
	sleep(1)
	countdown -= 1
print("Neujahr")

10
9
8
7
6
5
4
3
2
1
Neujahr

In [ ]:
# Alle drei Sekunden wird geprüft, ob eine Ziel-Uhrzeit erreicht wurde.
# Solange sie nicht erreicht ist, erscheint die Nachricht "Zu früh".
# Wenn sie erreicht ist, lautet die Botschaft "Hurra!"
target_time = datetime(2025, 2, 14, )

In [ ]:
# ÜBUNG
# Schreibe eine "Besserungsloop". Der Nutzer wird so lange gefragt, wie es ihm geht, bis er 'gut' eingibt. Wenn er 'gut' eingegeben hat, kriegt er als Antwort: "Na also, geht doch." Und die Loop hört auf.

In [72]:
user_input = input('Wie geht es Dir heute?: ')

while user_input.lower() != 'gut':
	print('Echt? Schade das zu hören... wie geht es Dir wirklich?')
	sleep(1)
	user_input = input('Wie geht es Dir heute?: ')

print('Na also, geht doch.')

Echt? Schade das zu hören... wie geht es Dir wirklich?
Na also, geht doch.

In [73]:
user_input = input('Wie geht es Dir heute?: ')

while 'gut' not in user_input.lower():
	print('Echt? Schade das zu hören... wie geht es Dir wirklich?')
	sleep(1)
	user_input = input('Wie geht es Dir heute?: ')

print('Na also, geht doch.')

Na also, geht doch.

## Funktionen

In [ ]:
# Schreibe eine Funktion, die den BMI eines Menschen errechnet:

In [80]:
def calc_BMI(size: float, weight: float) -> float:
	'''
	function:
	to calculate BMI
	weight / size ** 2
	DTypes: size => float, weight => float
	return: rounded(2) BMI
	'''
	bmi = weight / size ** 2
	return round(bmi, 2)


bmi = calc_BMI(1.76, 100.0)
print(bmi)

32.28

In [88]:
# Schreibe eine Funktion, die Fuß in Zentimeter umrechnet.
# Rechne dann 5 Fuß in Zentimeter um.
# Optional: Führe einen Parameter inverse ein, über den man die Berechnung umdrehen kann.

def feet_to_cm_or_inverted(size: float, inverse: bool = False) -> float:
	'''
	function:
	to calculate feet to cm or inverted
	size * 30.48 or size / 30.48
	DType: size => float, inverse => bool (DefaultValue=False)
	return: cm or inverted feet
	'''
	if inverse == True:
		return round(size / 30.48, 2)
	return round(size * 30.48, 2)


feet_to_cm_or_inverted(5, True)

0.16

In [90]:
# Schreibe eine Funktion, die die Anzahl von Worten in einem Text zählt:

def count_words(text: str) -> int:
	tokens = text.split(" ")
	return len(tokens)

In [91]:
# Wende die Funktion auf folgenden Satz an:
satz = 'Das ist ein Satz mit ein paar Worten drin.'
count_words(satz)

9

In [97]:
# Schreibe eine Funktion namens calculate_word_frequencies, die die Anzahl von Worten in einem Text, der als Liste vorliegt, zählt:

def calc_word_freqs(text: list) -> Counter:
	return Counter(text)

In [93]:
# Wende die Funktion auf folgenden Satz an:
satz = ['Das', 'ist', 'ein', 'Satz', 'mit', 'ein', 'paar', 'Worten', 'drin']

In [98]:
calc_word_freqs(satz)

Counter({'ein': 2,
         'Das': 1,
         'ist': 1,
         'Satz': 1,
         'mit': 1,
         'paar': 1,
         'Worten': 1,
         'drin': 1})

In [ ]:
# Schreibe eine Funktion tokenize_string, die alle Satzzeichen in einem String entfernt
# und ihn dann erst in einzelne Token auftrennt:

In [ ]:
# Wende nun zuerst deine tokenize-Funktion auf den Text an
# und danach calculacte_word_frequencies.
# Welches Wort kommt am häufigsten vor?

text = '''Hallo Du!

Wir stellen Dir die Hardware
kostenlos zur Verfügung.

Du bekommst von uns kostenlos einen leistungsstarken Laptop zur Verfügung gestellt, den Du sogar bei erfolgreichem Bestehen des Kurses behalten darfst.

Um Dir Deinen Start maximal zu erleichtern, haben Wir diesen bereits vollumfänglich konfiguriert und er enthält alle relevanten Programme und Einstellungen.

'''

In [ ]:
# Schreibe eine Funktion, die dir ausrechnet, wie viel Geld du pro Tag hast.
# Der Nutzer übergibt den aktuellen Kontostand und die Funktion ermittelt, wie viele
# Tage noch bis Monatsende sind und berechnet dann den Betrag, der pro Tag verfügbar ist.
# Der aktuelle Tag soll auch als vollwertiger Tag in die Berechnung einfließen.
# Die Funktion soll nur für Werte über 0 sinnvolle Zahlen ausspucken.
# In allen anderen Fällen soll sie den Nutzer darüber informieren, dass er kein Geld zur Verfügung hat.