In [165]:
import random
from calendar import monthrange
from collections import Counter
from datetime import datetime, date
from string import punctuation
from time import sleep

import pytz

### For-Loop und List Comprehensions

In [2]:
strange_list = ['Anna', 'Tina', 3.7, True, 4, {'Pikachu': '500 HP'}, 'Tina',
                ['Hallo', 'wo', 'zum', 'Teufel', 'bin', 'ich?',
                 ['Die Antwort ist', [], 42, 'hab', 'ich', 'gehört']]]

In [4]:
# Finde mittels for-Schleife alle Vorkommnisse von Tina mit zugehörigem Index:
i = -1

for element in strange_list:
    i += 1
    if element == 'Tina':
        print(f'An Position {i} wurde eine Tina gefunden.')

An Position 1 wurde eine Tina gefunden.
An Position 6 wurde eine Tina gefunden.

In [37]:
# Enumerate erzeugt Tupel, die aus 1) Indexposition und 2) dem eigentlich Wert bestehen:
for tup in enumerate(strange_list):
    print(tup)

(0, 'Anna')
(1, 'Tina')
(2, 3.7)
(3, True)
(4, 4)
(5, {'Pikachu': '500 HP'})
(6, 'Tina')
(7, ['Hallo', 'wo', 'zum', 'Teufel', 'bin', 'ich?', ['Die Antwort ist', [], 42, 'hab', 'ich', 'gehört']])

In [39]:
for tup in enumerate(strange_list):
    print('Indexposition:', tup[0])
    print('Wert:', tup[1])

Indexposition: 0
Wert: Anna
Indexposition: 1
Wert: Tina
Indexposition: 2
Wert: 3.7
Indexposition: 3
Wert: True
Indexposition: 4
Wert: 4
Indexposition: 5
Wert: {'Pikachu': '500 HP'}
Indexposition: 6
Wert: Tina
Indexposition: 7
Wert: ['Hallo', 'wo', 'zum', 'Teufel', 'bin', 'ich?', ['Die Antwort ist', [], 42, 'hab', 'ich', 'gehört']]

In [41]:
# Wir können aber die entstehenden Tupel auch direkt auf Variablen verteilen
# Man nennt das tuple unpacking (geht auch mit anderen Iterables):
for i, value in enumerate(strange_list):
    print('Index:', i)
    print('Wert:', value)

Index: 0
Wert: Anna
Index: 1
Wert: Tina
Index: 2
Wert: 3.7
Index: 3
Wert: True
Index: 4
Wert: 4
Index: 5
Wert: {'Pikachu': '500 HP'}
Index: 6
Wert: Tina
Index: 7
Wert: ['Hallo', 'wo', 'zum', 'Teufel', 'bin', 'ich?', ['Die Antwort ist', [], 42, 'hab', 'ich', 'gehört']]

In [6]:
for i, element in enumerate(strange_list):
    if element == 'Tina':
        print(f'An Position {i} wurde eine Tina gefunden.')

An Position 1 wurde eine Tina gefunden.
An Position 6 wurde eine Tina gefunden.

In [11]:
# Finde mittels list comprehension dasselbe:
tinas = [(i, element) for i, element in enumerate(strange_list) if
         element == 'Tina']
tinas

[(1, 'Tina'), (6, 'Tina')]

In [14]:
# Dasselbe mit builtin filter:
tinas = list(filter(lambda x: x[1] == 'Tina', enumerate(strange_list)))
tinas

[(1, 'Tina'), (6, 'Tina')]

In [25]:
# Zahlen zufällig würfeln:
random.seed(42)
numbers = [random.randint(1, 100) for num in range(100)]
print(numbers)

[82, 15, 4, 95, 36, 32, 29, 18, 95, 14, 87, 95, 70, 12, 76, 55, 5, 4, 12, 28, 30, 65, 78, 4, 72, 26, 92, 84, 90, 70, 54, 29, 58, 76, 36, 1, 98, 21, 90, 55, 44, 36, 20, 28, 98, 44, 14, 12, 49, 13, 46, 45, 78, 34, 6, 94, 59, 69, 16, 49, 11, 71, 38, 81, 80, 47, 74, 25, 91, 9, 6, 85, 30, 99, 38, 11, 30, 13, 49, 36, 59, 82, 47, 21, 48, 46, 27, 86, 35, 90, 88, 83, 10, 78, 82, 22, 69, 94, 32, 21]

In [26]:
15 % 7

1

In [27]:
70 % 7

0

In [28]:
# Filtere alle durch 7 teilbaren Zahlen heraus. Arbeite mit einer for-Schleife:
for num in numbers:
    if num % 7 == 0:  # prüft, ob Zahl restlos durch sieben teilbar ist
        print(num)

14
70
28
84
70
98
21
28
98
14
49
49
91
49
21
35
21

In [36]:
# For-Schleife mit Liste als Ergebnis:
divisible_by_seven = []

for num in numbers:
    if num % 7 == 0:
        divisible_by_seven.append(num)

print(divisible_by_seven)

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [30]:
# Dasselbe mit einer list comprehension:
divisible_by_seven = [num for num in numbers if num % 7 == 0]
divisible_by_seven

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [33]:
# Dasselbe mit filter:
divisible_by_seven = list(filter(lambda num: num % 7 == 0, numbers))
divisible_by_seven

[14, 70, 28, 84, 70, 98, 21, 28, 98, 14, 49, 49, 91, 49, 21, 35, 21]

In [ ]:
# ÜBUNG:
# Gegeben ist folgende Liste: ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', Minna', 'Lena', 'Hanna']
# Einfach: Finde mittels For-Loop alle Positionen, an denen 'Anna' vorkommt
# Etwas schwieriger: Finde mittels For-Loop alle Positionen von Strings, die mit 'nna' enden.

In [44]:
names = ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', 'Minna',
         'Lena', 'Hanna']

index_liste = []

for index, name in enumerate(names):
    if name == 'Anna':
        index_liste.append(index)

index_liste

[0, 4]

In [46]:
names = ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', 'Minna',
         'Lena', 'Hanna']

elements = []

for index, name in enumerate(names):
    if name[-3:] == 'nna':
        elements.append((index, name))

elements

[(0, 'Anna'), (4, 'Anna'), (6, 'Minna'), (8, 'Hanna')]

In [47]:
names = ['Anna', 'Tina', 'Anton', 'Lana', 'Anna', 'Toni', 'Minna',
         'Lena', 'Hanna']

elements = []

for index, name in enumerate(names):
    if name.endswith('nna'):
        elements.append((index, name))

elements

[(0, 'Anna'), (4, 'Anna'), (6, 'Minna'), (8, 'Hanna')]

In [ ]:
# ÜBUNG
# Du hast eine Liste von Preisen: [12, 10, 80, 65, 14, 5, 12]
# Es gibt eine Rabattaktion. Senke alle Elemente in der Liste um 20 Prozent.
# Benutze hierfür list comprehension. Runde auf zwei Nachkommastellen.

In [48]:
prices = [12, 10, 80, 65, 14, 5, 12]

discounts = [round(0.8 * price, 2) for price in prices]
discounts

[9.6, 8.0, 64.0, 52.0, 11.2, 4.0, 9.6]

### Dictionaries

In [49]:
# Mehr Dictionaries:
anna_blume = dict(nachname='Blume',
                  vorname='Anna',
                  alter=30,
                  beruf='Data Analyst',
                  fertigkeiten=['Python', 'Pandas', 'Numpy', 'Scikit-Learn',
                                'Power BI', 'SQL', 'Matplotlib & Seaborn'],
                  hobbies=['Reisen', 'Tanzen', 'Bücher lesen'],
                  gewicht=67.5,
                  verheiratet=True)

In [ ]:
# Dictionaries können natürlich auch immer so erstellt werden:
# {'nachname': 'Blume', 'vorname': 'Anna' ...}

In [50]:
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 30,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'verheiratet': True}

In [51]:
# Wie fügt man dem Ganzen einen Eintrag 'haustier' mit Wert 'Hund' hinzu?
anna_blume['haustier'] = 'Hund'

In [52]:
# Den Hund prüfen:
anna_blume['haustier']

'Hund'

In [53]:
anna_blume.get('haustier')

'Hund'

In [55]:
# Bei get kommen wir auch bei nicht-existierenden keys "davon":
anna_blume.get('IBAN')

In [56]:
# Bei Direktzugriff kriegen wir dagegen einen KeyError:
# anna_blume['IBAN']

KeyError: 'IBAN'

In [57]:
# Wie erhöht man das Alter Annas von 30 auf 31?
anna_blume['alter'] += 1

In [59]:
anna_blume.get('alter')

31

In [60]:
# Alternativ Wert überschreiben:
anna_blume['alter'] = 32

In [61]:
anna_blume.get('alter')

32

In [62]:
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 67.5,
 'verheiratet': True,
 'haustier': 'Hund'}

In [63]:
# Wie entfernt man die Information zum Verheiratet-Status?
del anna_blume['verheiratet']

In [64]:
anna_blume.get('verheiratet')

In [67]:
# Weitere Möglichkeit:
anna_blume['verheiratet'] = True

anna_blume.pop('verheiratet')

True

In [68]:
anna_blume.get('verheiratet')

In [70]:
# Füge dem Dictionary einen weiteren Eintrag 'lieblingsessen' hinzu mit dem Wert 'KFC':
anna_blume['lieblingsessen'] = 'KFC'

In [71]:
# Anna hat zugelegt. Erhöhe das Gewicht auf 95.5 kg:
anna_blume['gewicht'] = 95.5

In [72]:
anna_blume

{'nachname': 'Blume',
 'vorname': 'Anna',
 'alter': 32,
 'beruf': 'Data Analyst',
 'fertigkeiten': ['Python',
  'Pandas',
  'Numpy',
  'Scikit-Learn',
  'Power BI',
  'SQL',
  'Matplotlib & Seaborn'],
 'hobbies': ['Reisen', 'Tanzen', 'Bücher lesen'],
 'gewicht': 95.5,
 'haustier': 'Hund',
 'lieblingsessen': 'KFC'}

In [74]:
# Anna geht nicht mehr gern tanzen. Entferne dieses Hobby.
anna_blume['hobbies'].remove('Tanzen')

In [75]:
anna_blume['hobbies']

['Reisen', 'Bücher lesen']

In [76]:
# Füge stattdessen das Hobby 'Netflix schauen' hinzu:
anna_blume['hobbies'].append('Netflix schauen')

In [77]:
# Schaue dir ihre Hobbies an:
anna_blume['hobbies']

['Reisen', 'Bücher lesen', 'Netflix schauen']

In [78]:
# Der Hund ist gestorben... Entferne das Haustier:
anna_blume.pop('haustier')

'Hund'

In [79]:
anna_blume.get('haustier')

## While Loops bauen

In [81]:
# Schreibe einen Counter, der von 10 runterzählt und dann "Neujahr!!!" ruft.
#  10, 9, 8 ... NEUJAHR!!!

countdown = 10

while countdown != 0:  # oder > 0
    countdown -= 1
    if countdown > 0:
        print(countdown)
    else:
        print('Neujahr!!!')

9
8
7
6
5
4
3
2
1
Neujahr!!!

In [86]:
# Schreibe einen Counter, der von 10 runterzählt und dann "Neujahr!!!" ruft.
#  10, 9, 8 ... NEUJAHR!!!

countdown = 10

while countdown > 0:
    print(countdown)
    sleep(1)
    countdown -= 1

print('NEUJAHR!!!')

10
9
8
7
6
5
4
3
2
1
NEUJAHR!!!

In [99]:
# Alle drei Sekunden wird geprüft, ob eine Ziel-Uhrzeit erreicht oder überschritten wurde.
# Solange sie nicht erreicht ist, erscheint die Nachricht "Zu früh".
# Wenn sie erreicht ist, lautet die Botschaft "Hurra!"
target_time = datetime(2025, 2, 14, 11, 0, 0, 0)
german_timezone = 'Europe/Berlin'
tz = pytz.timezone(german_timezone)

target_time_with_tz = target_time.astimezone(tz)

target_time_with_tz

datetime.datetime(2025, 2, 14, 11, 0, tzinfo=<DstTzInfo 'Europe/Berlin' CET+1:00:00 STD>)

In [100]:
while datetime.now(tz) < target_time_with_tz:
    print('Zu früh!')
    sleep(3)

print('Hurra!')

Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Zu früh!
Hurra!

In [ ]:
# ÜBUNG
# Schreibe eine "Besserungsloop". Der Nutzer wird so lange gefragt, wie es ihm geht, bis er 'gut' eingibt. Wenn er 'gut' eingegeben hat, kriegt er als Antwort: "Na also, geht doch." Und die Loop hört auf.

In [ ]:
# Mit while True und break:
while True:
    antwort = input('Wie geht es dir?')
    if antwort == 'gut':
        print('Na also, geht doch!')
        break
    print('Das ist aber nicht schön...')

In [101]:
# Mit Walrus-Operator:
while (antwort := input('Wie geht es dir?')) != 'gut':
    print('Das ist aber nicht schön...')

print('Na also, geht doch!')

Das ist aber nicht schön...
Das ist aber nicht schön...
Das ist aber nicht schön...
Na also, geht doch!

In [ ]:
# Pascal 1:
user_input = input('Wie geht es Dir heute?: ')

while user_input.lower() != 'gut':
    print('Echt? Schade das zu hören... wie geht es Dir wirklich?')
    sleep(1)
    user_input = input('Wie geht es Dir heute?: ')

print('Na also, geht doch.')

In [ ]:
# Pascal 2:
user_input = input('Wie geht es Dir heute?: ')

while 'gut' not in user_input.lower():
    print('Echt? Schade das zu hören... wie geht es Dir wirklich?')
    sleep(1)
    user_input = input('Wie geht es Dir heute?: ')

print('Na also, geht doch.')

## Funktionen

In [103]:
# Schreibe eine Funktion, die den BMI eines Menschen errechnet:
# BMI-Formel = Körpergewicht (in kg) geteilt durch Körpergröße (in m) zum Quadrat.
weight = 90
height = 1.9


# Funktionsdefinition:
def calculate_bmi(weight: float, height: float) -> float:
    bmi = weight / height ** 2
    return round(bmi, 2)


# Funktionsaufruf:
bmi = calculate_bmi(90, 1.9)
print(bmi)

24.93

In [ ]:
# Bonus: Baue dir eine Liste mit Tupeln o.Ä. von Gewicht und Größe und wende diese Funktion darauf an.
# oder: lade menschen_masse.csv und lege eine neue Spalte bmi mithilfe dieser Funktion im DataFrame an.

In [114]:
# Schreibe eine Funktion, die Fuß in Zentimeter umrechnet.
# 1 Fuß > 30.48 cm
# Rechne dann 5 Fuß in Zentimeter um.

def feet_to_cm(feet: float) -> float:
    return feet * 30.48

In [112]:
feet = 5

cm = feet_to_cm(5)
print(cm)

152.4

In [117]:
# Mini-Exkurs:
full_list = ['Anna', 'Tina', 'Dora']  # entspricht True in einer Bedingung

if full_list:
    print('Wahr')
else:
    print('Nicht wahr')

Wahr

In [118]:
empty_list = []

if empty_list:  # entspricht False in einer Bedingung
    print('Wahr')
else:
    print('Nicht wahr')

Nicht wahr

In [115]:
inverse = True

In [116]:
if inverse:  # True entspricht True in einer Bedingung
    print('Wahr')
else:
    print('Nicht wahr')

Wahr

In [124]:
# Schreibe eine Funktion, die Fuß in Zentimeter umrechnet:
# Optional: Führe einen Parameter inverse ein, über den man die Berechnung umdrehen kann.
def feet_to_cm(size: float, inverse: bool = False) -> float:
    if inverse:
        return round(size / 30.48, 2)
    # hier kein else nötig, denn dieses return gibt es nur, wenn es das andere return nicht gibt:
    return round(size * 30.48, 2)

In [125]:
# 10 Fuß in Zentimeter umrechnen:
feet_to_cm(10)

304.8

In [126]:
# 175cm in Fuß umrechnen:
feet_to_cm(175, inverse=True)

5.74

In [127]:
# 175cm in Fuß umrechnen:
feet_to_cm(175, True)

5.74

In [128]:
# Schreibe eine Funktion, die die Anzahl von Worten in einem Text zählt:
def count_words(text: str) -> int:
    token_list = text.split(' ')
    return len(token_list)

In [129]:
# Wende die Funktion auf folgenden Satz an:
sentence = 'Das ist ein Satz mit ein paar Worten drin.'

In [130]:
count_words(sentence)

9

In [132]:
# Schreibe eine Funktion namens calculate_word_frequencies, die die Anzahl von Worten in einem Text, der als Liste vorliegt, zählt:
def calculate_word_frequencies(text: list) -> Counter:
    return Counter(text)

In [133]:
# Wende die Funktion auf folgenden Satz an:
sentence = ['Das', 'ist', 'ein', 'Satz', 'mit', 'ein', 'paar', 'Worten',
            'drin']

In [134]:
calculate_word_frequencies(sentence)

Counter({'ein': 2,
         'Das': 1,
         'ist': 1,
         'Satz': 1,
         'mit': 1,
         'paar': 1,
         'Worten': 1,
         'drin': 1})

In [136]:
# Schreibe eine Funktion tokenize_string, die alle Satzzeichen in einem String entfernt
# und ihn dann erst in einzelne Token auftrennt:
# Das soll raus:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [151]:
def tokenize_text(text: str) -> list:
    for char in text:
        if char in punctuation:
            text = text.replace(char, '')

    # professioneller mit regex pattern, das 1-beliebig viele \n umfasst:
    text = text.replace('\n\n', ' ')
    text = text.replace('\n', ' ')
    return text.split(' ')

In [153]:
# Wende nun zuerst deine tokenize-Funktion auf den Text an
# und danach calculacte_word_frequencies.
# Welches Wort kommt am häufigsten vor?

text = '''Hallo Du!

Wir stellen Dir die Hardware
kostenlos zur Verfügung.

Du bekommst von uns kostenlos einen leistungsstarken Laptop zur Verfügung gestellt, den Du sogar bei erfolgreichem Bestehen des Kurses behalten darfst.

Um Dir Deinen Start maximal zu erleichtern, haben Wir diesen bereits vollumfänglich konfiguriert und er enthält alle relevanten Programme und Einstellungen.

'''

In [155]:
tokens = tokenize_text(text)
tokens

['Hallo',
 'Du',
 'Wir',
 'stellen',
 'Dir',
 'die',
 'Hardware',
 'kostenlos',
 'zur',
 'Verfügung',
 'Du',
 'bekommst',
 'von',
 'uns',
 'kostenlos',
 'einen',
 'leistungsstarken',
 'Laptop',
 'zur',
 'Verfügung',
 'gestellt',
 'den',
 'Du',
 'sogar',
 'bei',
 'erfolgreichem',
 'Bestehen',
 'des',
 'Kurses',
 'behalten',
 'darfst',
 'Um',
 'Dir',
 'Deinen',
 'Start',
 'maximal',
 'zu',
 'erleichtern',
 'haben',
 'Wir',
 'diesen',
 'bereits',
 'vollumfänglich',
 'konfiguriert',
 'und',
 'er',
 'enthält',
 'alle',
 'relevanten',
 'Programme',
 'und',
 'Einstellungen',
 '']

In [157]:
word_freqs = calculate_word_frequencies(tokens)
word_freqs

Counter({'Du': 3,
         'Wir': 2,
         'Dir': 2,
         'kostenlos': 2,
         'zur': 2,
         'Verfügung': 2,
         'und': 2,
         'Hallo': 1,
         'stellen': 1,
         'die': 1,
         'Hardware': 1,
         'bekommst': 1,
         'von': 1,
         'uns': 1,
         'einen': 1,
         'leistungsstarken': 1,
         'Laptop': 1,
         'gestellt': 1,
         'den': 1,
         'sogar': 1,
         'bei': 1,
         'erfolgreichem': 1,
         'Bestehen': 1,
         'des': 1,
         'Kurses': 1,
         'behalten': 1,
         'darfst': 1,
         'Um': 1,
         'Deinen': 1,
         'Start': 1,
         'maximal': 1,
         'zu': 1,
         'erleichtern': 1,
         'haben': 1,
         'diesen': 1,
         'bereits': 1,
         'vollumfänglich': 1,
         'konfiguriert': 1,
         'er': 1,
         'enthält': 1,
         'alle': 1,
         'relevanten': 1,
         'Programme': 1,
         'Einstellungen': 1,
         '': 1})

In [159]:
word_freqs.most_common()[0]

('Du', 3)

In [162]:
word_freqs.most_common()[-1]

('', 1)

In [170]:
# Schreibe eine Funktion, die dir ausrechnet, wie viel Geld du pro Tag hast.
# Der Nutzer übergibt den aktuellen Kontostand und die Funktion ermittelt, wie viele
# Tage noch bis Monatsende sind und berechnet dann den Betrag, der pro Tag verfügbar ist.
# Der aktuelle Tag soll auch als vollwertiger Tag in die Berechnung einfließen.
# Die Funktion soll nur für Werte über 0 sinnvolle Zahlen ausspucken.
# In allen anderen Fällen soll sie den Nutzer darüber informieren, dass er kein Geld zur Verfügung hat.

def calculate_daily_amount(balance: float) -> float | None:
    if balance > 0:
        end_of_month = monthrange(2025, 2)[1]
        today = date.today().day
        # added 1 to account for the current day:
        days_to_go = end_of_month - today + 1
        daily_amount = balance / days_to_go
        return daily_amount
    else:
        print('Dude, you have no money!')

In [171]:
calculate_daily_amount(750)

50.0

In [172]:
calculate_daily_amount(-120)

Dude, you have no money!