<br><br><center><h1 style="font-size:2em;color:#2467C0">Tagesaufgaben: Einführung Pandas</h1></center>
<br>

In [2]:
# Deine Imports:
import pandas as pd
import numpy as np
from pandas.conftest import index
from webcolors import names

## Aufgabe 1 - Serien

<div  class="alert alert-block alert-info">
1. Erstelle eine Pandas-Series mit fünf Zahlen und lass sie dir anschließend ausgeben.

    Output:
    0     1
    1     2
    2    23
    3     3
    4     4
    dtype: int64

</div>

In [12]:
task_1 = pd.Series([1, 2, 23, 3 ,4])
task_1

0     1
1     2
2    23
3     3
4     4
dtype: int64

<div  class="alert alert-block alert-info">
2. Erstelle eine Pandas-Series mit fünf Einträgen. Der Index soll dieses Mal aus Strings bestehen.

    Output:
    Rot        13
    Blau       24
    Grün        1
    Schwarz    90
    Magenta     3
    dtype: int64
</div>

In [13]:
task_2 = pd.Series([13, 24, 1, 90, 3], 
                   index=["Rot", "Blau", "Grün", "Schwarz", "Magenta"])
task_2

Rot        13
Blau       24
Grün        1
Schwarz    90
Magenta     3
dtype: int64

<div  class="alert alert-block alert-info">
3. Greife per Index auf einen der Einträge aus der Series der vorherigen Aufgabe zu. Nutze dafür zum einen eine Zahl und zum anderen den entsprechenden String.
</div>

In [14]:
# 3.1
print(task_2.iloc[3])

# 3.2
print(task_2["Schwarz"])

90
90

<div  class="alert alert-block alert-info">
4. Gib der Series aus Aufgabe 2 nun einen Namen.

    Output:
    Rot        13
    Blau       24
    Grün        1
    Schwarz    90
    Magenta     3
    Name: Farben, dtype: int64
</div>

In [15]:
task_2 = pd.Series([13, 24, 1, 90, 3], 
                   index=["Rot", "Blau", "Grün", "Schwarz", "Magenta"], 
                   name="Farben")
task_2

Rot        13
Blau       24
Grün        1
Schwarz    90
Magenta     3
Name: Farben, dtype: int64

<div  class="alert alert-block alert-info">
5. Erstelle ein Dictionary für deinen Getränkemarkt mit vier Einträgen und wandel es anschließend in eine Pandas-Series um. Index = Getränkenamen; Werte = Getränkemengen

</div>

In [17]:
beverage_market = {"Beverages": ["Coca Cola", "Fanta", "Sprite", "Beer"], 
                   "Amount of Beverages": [1337, 1589, 1110, 404]}

beverage_market_df = pd.DataFrame(beverage_market)
beverage_market_df

   Beverages  Amount of Beverages
0  Coca Cola                 1337
1      Fanta                 1589
2     Sprite                 1110
3       Beer                  404

<div  class="alert alert-block alert-info">
6. Du hast die beiden Listen revenue und expenses vorliegen. Wandle sie in Series um, ziehe expenses von revenue ab und nenne die Series profit. Lass dir profit ausgeben. Summiere außerdem alle Werte aus profit und lass dir auch das ausgeben. Erstelle aus allen drei Series schließlich ein DataFrame.

</div>

In [18]:
revenue = [4700, 5300, 3500, 1900, 5600, 7200, 3200, 5800]
expenses = [3500, 2000, 4500, 950,4200, 3800, 2700, 6000]

In [29]:
revenue = pd.Series([4700, 5300, 3500, 1900, 5600, 7200, 3200, 5800], name="Revenue")
expenses = pd.Series([3500, 2000, 4500, 950,4200, 3800, 2700, 6000], name="Expenses")
profit = pd.Series(revenue - expenses, name="Profit")

rev_exp_df = pd.concat([revenue, expenses, profit], axis=1)
rev_exp_df

   Revenue  Expenses  Profit
0     4700      3500    1200
1     5300      2000    3300
2     3500      4500   -1000
3     1900       950     950
4     5600      4200    1400
5     7200      3800    3400
6     3200      2700     500
7     5800      6000    -200

## Aufgabe 2 - DataFrames

<div  class="alert alert-block alert-info">
1. Erstelle ein DataFrame mit vier Ländern und deren zugehörigen Einwohnerzahlen über ein Dictionary (ohne Series diesmal).

    Output:
                 Land   Einwohner
       0      Belgien   11600000
       1  Niederlande   17600000
       2     Portugal   10400000
       3       Türkei   84700000


</div>

In [28]:
country_population = {"Country": ["Belgium", "Netherland", "Portugal", "Türkiye"], 
                      "Population": [11600000, 17600000, 10400000, 84700000]}
country_population_df = pd.DataFrame(country_population)
country_population_df

      Country  Population
0     Belgium    11600000
1  Netherland    17600000
2    Portugal    10400000
3     Türkiye    84700000

<div  class="alert alert-block alert-info">
2. Ändere den Index des DataFrames aus Aufgabe 2.1 auf L1, L2, L3 und L4. Optional: Finde einen Weg, wie du den Index ändern kannst, ohne den gesamten DataFrame neu zu
 definieren.

</div>

In [30]:
country_population_df.index = ["L1", "L2", "L3", "L4"]

In [31]:
country_population_df

       Country  Population
L1     Belgium    11600000
L2  Netherland    17600000
L3    Portugal    10400000
L4     Türkiye    84700000

<div  class="alert alert-block alert-info">
3. Erstelle einen DataFrame mit vier Ländern, deren Einwohnerzahl, der Hauptstadt und der ersten Amtssprache. Verwende hierzu wieder ein Dictionary. Als Index sollen wieder L1, L2, usw. stehen.

    Output:
               Land  Einwohner Hauptstadt     Amtssprache
    L1      Belgien   11600000    Brüssel  Niederländisch
    L2  Niederlande   17600000  Amsterdam  Niederländisch
    L3     Portugal   10400000   Lissabon   Portugiesisch
    L4       Türkei   84700000     Ankara        Türkisch

</div>

In [34]:
country_population_2 = {"Country": ["Belgium", "Netherland", "Portugal", "Türkiye"], 
                        "Population": [11600000, 17600000, 10400000, 84700000], 
                        "Capital City": ["Brussels", "Amsterdam", "Lisbon", "Ankara"], 
                        "Official Language": ["Dutch", "Dutch", "Portuguese", "Turkish"]}

country_population_2_df = pd.DataFrame(country_population_2, index=["L1", "L2", "L3", "L4"])
country_population_2_df

       Country  Population Capital City Official Language
L1     Belgium    11600000     Brussels             Dutch
L2  Netherland    17600000    Amsterdam             Dutch
L3    Portugal    10400000       Lisbon        Portuguese
L4     Türkiye    84700000       Ankara           Turkish

<div  class="alert alert-block alert-info">
4. Erstelle den gleichen DataFrame wie in der vorherigen Aufgabe, aber verwende dieses Mal kein Dictionary. Schreibe nun die einzelnen Spalten der Tabelle (Land, Einwohner, Hauptstadt, Amtssprache) zuerst als Pandas-Series und füge am Ende alle Series zu einem DataFrame zusammen.

    Output:
               Land  Einwohner Hauptstadt     Amtssprache
    L1      Belgien   11600000    Brüssel  Niederländisch
    L2  Niederlande   17600000  Amsterdam  Niederländisch
    L3     Portugal   10400000   Lissabon   Portugiesisch
    L4       Türkei   84700000     Ankara        Türkisch

</div>

In [58]:
countries = pd.Series(["Belgium", "Netherland", "Portugal", "Türkiye"], name="Country")
population = pd.Series([11600000, 17600000, 10400000, 84700000], name="Population")
capital_city = pd.Series(["Brussels", "Amsterdam", "Lisbon", "Ankara"], name="Capital City")
official_language = pd.Series(["Dutch", "Dutch", "Portuguese", "Turkish"], name="Official Language")

countries_df = pd.concat([countries, population, capital_city, official_language], axis=1)
countries_df.index = ["L1", "L2", "L3", "L4"]
countries_df

       Country  Population Capital City Official Language
L1     Belgium    11600000     Brussels             Dutch
L2  Netherland    17600000    Amsterdam             Dutch
L3    Portugal    10400000       Lisbon        Portuguese
L4     Türkiye    84700000       Ankara           Turkish

<div  class="alert alert-block alert-info">
5. Lass dir alle Indices und alle Columns aus dem DataFrame aus der vorherigen Aufgabe ausgeben.

    Output:
    Index(['L1', 'L2', 'L3', 'L4'], dtype='object')
    Index(['Land', 'Einwohner', 'Hauptstadt', 'Amtssprache'], dtype='object')
</div>

In [63]:
countries_df.index, countries_df.keys()         # alternativ zu countries_df.keys() -> countries_df.columns

(Index(['L1', 'L2', 'L3', 'L4'], dtype='object'),
 Index(['Country', 'Population', 'Capital City', 'Official Language'], dtype='object'))

<div  class="alert alert-block alert-info">
6. Lass dir alle Infos für dein drittes Land ausgeben.

    Output:
    Land                Portugal
    Einwohner           10400000
    Hauptstadt          lissabon
    Amtssprache    Portugiesisch
    Name: L3, dtype: object
</div>

In [57]:
country_nr3 = pd.Series(countries_df.values[2], 
                        name="Third Country of DataFrame", 
                        index=["Country:", "Population:", "Capital City:", "Official Language:"])
country_nr3

Country:                Portugal
Population:             10400000
Capital City:             Lisbon
Official Language:    Portuguese
Name: Third Country of DataFrame, dtype: object