# Python & SQLite
Willkommen zurück in Python!

Vor unserem "kleinen Ausflug" in SQL haben wir hier Pandas und Tabellen kennengelernt. Lasst uns dieses Wissen mit SQL verknüpfen und SQL-Befehle in Python kennenlernen.

## Wie können wir SQL in Verbindung mit Python nutzen?

Wir brauchen einen Datenbank-Treiber, um uns mit Datenbanken zu verbinden. Auch Pycharm, DBeaver und Pgadmin benutzen diese Treiber, um mit der Datenbank zu kommunizieren. In Python erhalten wir diese Treiber durch die Installation von Paketen. Diese unterscheiden sich je nach Datenbank.

Den Anfang machen wir wieder in `SQLite`. Um uns mit SQLite-Datenbanken zu verbinden, brauchen wir das `sqlite3`-Paket, welches den Treiber bereitstellt. Da das Paket Teil der Standard-Bibliothek ist, brauchen wir es nicht erst nachträglich installieren. Wir können es direkt importieren und mit seiner Hilfe Verbindungen zu SQLite-Datenbanken herstellen.

Dokumentation [hier](https://docs.python.org/3/library/sqlite3.html).

### Warum Python und SQL kombinieren?

Mit Python haben wir einen Allrounder in Sachen Programmierung und Datenanalyse, mit dem wir Diagramme erstellen, Machine Learning betreiben und vieles Weiteres tun können. Die Sammlung von Daten in Unternehmen erfolgt sehr häufig in relationalen Datenbanken – und hier ist die Zugriffssprache SQL. Ein Datenanalyst sollte imstande sein, auf solche Datenbanken zuzugreifen, um z.B. Daten für die weitere Analyse in einen Dataframe zu laden. Nutzt man SQL-Datenbanken als solide Datenspeicher, führt die Analysen von gewissen Daten dann aber mit Python durch, dann vereint man das Beste aus beiden Welten.

Hinweis: Beim Arbeiten in Pycharm stellen wir den globalen Dialekt wieder von Postgres auf SQLite um.

In [2]:
import sqlite3
import pandas as pd

## Zu einer bestehenden Datenbank verbinden

Mit der connect-Methode stellt man eine Verbindung zu einer Datenbank her.
Existiert die in Klammern angegebene Datenbank nicht, wird sie erstellt!

In [2]:
connection = sqlite3.connect(
	r"C:\Users\Admin\OneDrive\Dokumente\DataCraft\DataAnalyst_Aug.24\08_Datenbanken_und_SQL\databases\Chinook.db")

Um über diese Verbindung Befehle ausführen zu können, müssen wir noch einen "cursor"
erstellen. Das kann man sich wie eine Kommandozeile/ Befehlseingabe vorstellen.

<small>Hinweis: Nicht für alle SQL-Statements brauchen wir auch unbedingt einen Cursor und bei manchen
ist es sogar sinnvoll, direkt connection.execute() zu benutzen.
<br>In erster Linie bei SELECT-Statements, bei denen wir Kontrolle über die Ausgabe haben wollen,
brauchen wir aber einen Cursor.</small>

In [7]:
cursor = connection.cursor()

Mit der execute-Methode kann man SQL-Befehle wie Select-Statements ausführen.

In [22]:
cursor.execute('SELECT * FROM Artist;')

Der Cursor hat jetzt die Tabelleninhalte abgerufen und kann diese mit den fetch-Methoden ausgeben. Dabei kann der Nutzer zwischen der Ausgabe von einer Tabellenzeile (fetchone), einer selbst gewählten Anzahl (fetchmany) und allen Zeilen der Tabelle auf einen Schlag (fetchall) wählen. Je nach dem, wie viel gefetcht wurde, bleibt der Cursor dabei an einer bestimmten Stelle stehen und holt mit dem nächten Fetch die nächsten Einträge. Das kann so lange gehen, bis der Cursor komplett "entleert" bzw. abgearbeitet ist.

In [17]:
# Der Cursor gibt dem Nutzer den ersten Eintrag als Tupel aus und bleibt beim nächsten stehen:
cursor.fetchone()

(1, 'AC/DC')

In [18]:
# Derselbe Befehl gibt den nächsten Eintrag aus:
cursor.fetchone()

(2, 'Accept')

In [19]:
# Mit fetchmany eine Anzahl von 5 Zeilen ausgeben lassen (Liste von Tupeln):
cursor.fetchmany(5)

[(3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica')]

In [20]:
# Mit fetchall alle restlichen Inhalte ausgeben lassen:
cursor.fetchall()

[(8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham'),
 (11, 'Black Label Society'),
 (12, 'Black Sabbath'),
 (13, 'Body Count'),
 (14, 'Bruce Dickinson'),
 (15, 'Buddy Guy'),
 (16, 'Caetano Veloso'),
 (17, 'Chico Buarque'),
 (18, 'Chico Science & Nação Zumbi'),
 (19, 'Cidade Negra'),
 (20, 'Cláudio Zoli'),
 (21, 'Various Artists'),
 (22, 'Led Zeppelin'),
 (23, 'Frank Zappa & Captain Beefheart'),
 (24, 'Marcos Valle'),
 (25, 'Milton Nascimento & Bebeto'),
 (26, 'Azymuth'),
 (27, 'Gilberto Gil'),
 (28, 'João Gilberto'),
 (29, 'Bebel Gilberto'),
 (30, 'Jorge Vercilo'),
 (31, 'Baby Consuelo'),
 (32, 'Ney Matogrosso'),
 (33, 'Luiz Melodia'),
 (34, 'Nando Reis'),
 (35, 'Pedro Luís & A Parede'),
 (36, 'O Rappa'),
 (37, 'Ed Motta'),
 (38, 'Banda Black Rio'),
 (39, 'Fernanda Porto'),
 (40, 'Os Cariocas'),
 (41, 'Elis Regina'),
 (42, 'Milton Nascimento'),
 (43, 'A Cor Do Som'),
 (44, 'Kid Abelha'),
 (45, 'Sandra De Sá'),
 (46, 'Jorge Ben'),
 (47, 'Hermeto Pascoal'),
 (48, 'Barão Vermelho'),
 (49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto'),
 (50, 'Metallica'),
 (51, 'Queen'),
 (52, 'Kiss'),
 (53, 'Spyro Gyra'),
 (54, 'Green Day'),
 (55, 'David Coverdale'),
 (56, 'Gonzaguinha'),
 (57, 'Os Mutantes'),
 (58, 'Deep Purple'),
 (59, 'Santana'),
 (60, 'Santana Feat. Dave Matthews'),
 (61, 'Santana Feat. Everlast'),
 (62, 'Santana Feat. Rob Thomas'),
 (63, 'Santana Feat. Lauryn Hill & Cee-Lo'),
 (64, 'Santana Feat. The Project G&B'),
 (65, 'Santana Feat. Maná'),
 (66, 'Santana Feat. Eagle-Eye Cherry'),
 (67, 'Santana Feat. Eric Clapton'),
 (68, 'Miles Davis'),
 (69, 'Gene Krupa'),
 (70, 'Toquinho & Vinícius'),
 (71, 'Vinícius De Moraes & Baden Powell'),
 (72, 'Vinícius De Moraes'),
 (73, 'Vinícius E Qurteto Em Cy'),
 (74, 'Vinícius E Odette Lara'),
 (75, 'Vinicius, Toquinho & Quarteto Em Cy'),
 (76, 'Creedence Clearwater Revival'),
 (77, 'Cássia Eller'),
 (78, 'Def Leppard'),
 (79, 'Dennis Chambers'),
 (80, 'Djavan'),
 (81, 'Eric Clapton'),
 (82, 'Faith No More'),
 (83, 'Falamansa'),
 (84, 'Foo Fighters'),
 (85, 'Frank Sinatra'),
 (86, 'Funk Como Le Gusta'),
 (87, 'Godsmack'),
 (88, "Guns N' Roses"),
 (89, 'Incognito'),
 (90, 'Iron Maiden'),
 (91, 'James Brown'),
 (92, 'Jamiroquai'),
 (93, 'JET'),
 (94, 'Jimi Hendrix'),
 (95, 'Joe Satriani'),
 (96, 'Jota Quest'),
 (97, 'João Suplicy'),
 (98, 'Judas Priest'),
 (99, 'Legião Urbana'),
 (100, 'Lenny Kravitz'),
 (101, 'Lulu Santos'),
 (102, 'Marillion'),
 (103, 'Marisa Monte'),
 (104, 'Marvin Gaye'),
 (105, 'Men At Work'),
 (106, 'Motörhead'),
 (107, 'Motörhead & Girlschool'),
 (108, 'Mônica Marianno'),
 (109, 'Mötley Crüe'),
 (110, 'Nirvana'),
 (111, 'O Terço'),
 (112, 'Olodum'),
 (113, 'Os Paralamas Do Sucesso'),
 (114, 'Ozzy Osbourne'),
 (115, 'Page & Plant'),
 (116, 'Passengers'),
 (117, "Paul D'Ianno"),
 (118, 'Pearl Jam'),
 (119, 'Peter Tosh'),
 (120, 'Pink Floyd'),
 (121, 'Planet Hemp'),
 (122, 'R.E.M. Feat. Kate Pearson'),
 (123, 'R.E.M. Feat. KRS-One'),
 (124, 'R.E.M.'),
 (125, 'Raimundos'),
 (126, 'Raul Seixas'),
 (127, 'Red Hot Chili Peppers'),
 (128, 'Rush'),
 (129, 'Simply Red'),
 (130, 'Skank'),
 (131, 'Smashing Pumpkins'),
 (132, 'Soundgarden'),
 (133, 'Stevie Ray Vaughan & Double Trouble'),
 (134, 'Stone Temple Pilots'),
 (135, 'System Of A Down'),
 (136, 'Terry Bozzio, Tony Levin & Steve Stevens'),
 (137, 'The Black Crowes'),
 (138, 'The Clash'),
 (139, 'The Cult'),
 (140, 'The Doors'),
 (141, 'The Police'),
 (142, 'The Rolling Stones'),
 (143, 'The Tea Party'),
 (144, 'The Who'),
 (145, 'Tim Maia'),
 (146, 'Titãs'),
 (147, 'Battlestar Galactica'),
 (148, 'Heroes'),
 (149, 'Lost'),
 (150, 'U2'),
 (151, 'UB40'),
 (152, 'Van Halen'),
 (153, 'Velvet Revolver'),
 (154, 'Whitesnake'),
 (155, 'Zeca Pagodinho'),
 (156, 'The Office'),
 (157, 'Dread Zeppelin'),
 (158, 'Battlestar Galactica (Classic)'),
 (159, 'Aquaman'),
 (160, 'Christina Aguilera featuring BigElf'),
 (161, "Aerosmith & Sierra Leone's Refugee Allstars"),
 (162, 'Los Lonely Boys'),
 (163, 'Corinne Bailey Rae'),
 (164, 'Dhani Harrison & Jakob Dylan'),
 (165, 'Jackson Browne'),
 (166, 'Avril Lavigne'),
 (167, 'Big & Rich'),
 (168, "Youssou N'Dour"),
 (169, 'Black Eyed Peas'),
 (170, 'Jack Johnson'),
 (171, 'Ben Harper'),
 (172, 'Snow Patrol'),
 (173, 'Matisyahu'),
 (174, 'The Postal Service'),
 (175, 'Jaguares'),
 (176, 'The Flaming Lips'),
 (177, "Jack's Mannequin & Mick Fleetwood"),
 (178, 'Regina Spektor'),
 (179, 'Scorpions'),
 (180, 'House Of Pain'),
 (181, 'Xis'),
 (182, 'Nega Gizza'),
 (183, 'Gustavo & Andres Veiga & Salazar'),
 (184, 'Rodox'),
 (185, 'Charlie Brown Jr.'),
 (186, 'Pedro Luís E A Parede'),
 (187, 'Los Hermanos'),
 (188, 'Mundo Livre S/A'),
 (189, 'Otto'),
 (190, 'Instituto'),
 (191, 'Nação Zumbi'),
 (192, 'DJ Dolores & Orchestra Santa Massa'),
 (193, 'Seu Jorge'),
 (194, 'Sabotage E Instituto'),
 (195, 'Stereo Maracana'),
 (196, 'Cake'),
 (197, 'Aisha Duo'),
 (198, 'Habib Koité and Bamada'),
 (199, 'Karsh Kale'),
 (200, 'The Posies'),
 (201, 'Luciana Souza/Romero Lubambo'),
 (202, 'Aaron Goldberg'),
 (203, 'Nicolaus Esterhazy Sinfonia'),
 (204, 'Temple of the Dog'),
 (205, 'Chris Cornell'),
 (206, 'Alberto Turco & Nova Schola Gregoriana'),
 (207, 'Richard Marlow & The Choir of Trinity College, Cambridge'),
 (208, 'English Concert & Trevor Pinnock'),
 (209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'),
 (210,
  'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer'),
 (211, 'Wilhelm Kempff'),
 (212, 'Yo-Yo Ma'),
 (213, 'Scholars Baroque Ensemble'),
 (214, 'Academy of St. Martin in the Fields & Sir Neville Marriner'),
 (215,
  'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner'),
 (216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer'),
 (217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham'),
 (218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner'),
 (219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett'),
 (220,
  'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti'),
 (221, 'Sir Georg Solti & Wiener Philharmoniker'),
 (222,
  'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair'),
 (223, 'London Symphony Orchestra & Sir Charles Mackerras'),
 (224, 'Barry Wordsworth & BBC Concert Orchestra'),
 (225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker'),
 (226, 'Eugene Ormandy'),
 (227, 'Luciano Pavarotti'),
 (228, 'Leonard Bernstein & New York Philharmonic'),
 (229, 'Boston Symphony Orchestra & Seiji Ozawa'),
 (230, 'Aaron Copland & London Symphony Orchestra'),
 (231, 'Ton Koopman'),
 (232, 'Sergei Prokofiev & Yuri Temirkanov'),
 (233, 'Chicago Symphony Orchestra & Fritz Reiner'),
 (234, 'Orchestra of The Age of Enlightenment'),
 (235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra'),
 (236, 'James Levine'),
 (237, 'Berliner Philharmoniker & Hans Rosbaud'),
 (238, 'Maurizio Pollini'),
 (239,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett'),
 (240, 'Gustav Mahler'),
 (241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos'),
 (242, 'Edo de Waart & San Francisco Symphony'),
 (243, 'Antal Doráti & London Symphony Orchestra'),
 (244, 'Choir Of Westminster Abbey & Simon Preston'),
 (245, 'Michael Tilson Thomas & San Francisco Symphony'),
 (246,
  'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker'),
 (247, "The King's Singers"),
 (248, 'Berliner Philharmoniker & Herbert Von Karajan'),
 (249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker'),
 (250, "Christopher O'Riley"),
 (251, 'Fretwork'),
 (252, 'Amy Winehouse'),
 (253, 'Calexico'),
 (254, 'Otto Klemperer & Philharmonia Orchestra'),
 (255, 'Yehudi Menuhin'),
 (256, 'Philharmonia Orchestra & Sir Neville Marriner'),
 (257,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart'),
 (258, 'Les Arts Florissants & William Christie'),
 (259, 'The 12 Cellists of The Berlin Philharmonic'),
 (260, 'Adrian Leaper & Doreen de Feis'),
 (261, 'Roger Norrington, London Classical Players'),
 (262, "Charles Dutoit & L'Orchestre Symphonique de Montréal"),
 (263,
  'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir'),
 (264, "Kent Nagano and Orchestre de l'Opéra de Lyon"),
 (265, 'Julian Bream'),
 (266, 'Martin Roscoe'),
 (267, 'Göteborgs Symfoniker & Neeme Järvi'),
 (268, 'Itzhak Perlman'),
 (269, 'Michele Campanella'),
 (270, 'Gerald Moore'),
 (271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp'),
 (272, 'Emerson String Quartet'),
 (273,
  'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu'),
 (274, 'Nash Ensemble'),
 (275, 'Philip Glass Ensemble')]

In [21]:
# Ab jetzt ist der Cursor über alle Inhalte gelaufen und "leer" (gibt None zurück):
cursor.fetchone()

In [24]:
# Wir können natürlich komplexere Abfragen schreiben und über execute ausführen.
# Dann lohnt sich aber ein Multiline-String:
cursor.execute('''
        SELECT InvoiceId,
               CustomerId,
               BillingAddress,
               BillingCity,
               BillingCountry,
               Total
        FROM Invoice
        WHERE InvoiceId > 100
        AND BillingCountry = 'Germany';
''')
# Das funktioniert, ist aber unschön und relativ unflexibel.

In [25]:
cursor.fetchall()

[(104, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 0.99),
 (127, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 1.98),
 (138, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 13.86),
 (193, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 14.91),
 (196, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 1.98),
 (219, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 3.96),
 (224, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 1.98),
 (225, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 1.98),
 (236, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 13.86),
 (241, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 5.94),
 (247, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 3.96),
 (269, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 5.94),
 (291, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 8.91),
 (293, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 0.99),
 (321, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 0.99),
 (322, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 1.98),
 (345, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 3.96),
 (367, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 5.94)]

In [26]:
# Gängiger ist es, die Query in eine Variabel zu schreiben und diese
# Variabel dann dem execute zu übergeben:

get_germans = '''
        SELECT InvoiceId,
               CustomerId,
               BillingAddress,
               BillingCity,
               BillingCountry,
               Total
        FROM Invoice
        WHERE BillingCountry = 'Germany';
'''

In [27]:
cursor.execute(get_germans)

In [28]:
cursor.fetchall()

[(1, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 1.98),
 (6, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 0.99),
 (7, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 1.98),
 (12, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 13.86),
 (29, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 1.98),
 (30, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 3.96),
 (40, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 13.86),
 (52, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 5.94),
 (67, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 8.91),
 (95, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 8.91),
 (104, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 0.99),
 (127, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 1.98),
 (138, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 13.86),
 (193, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 14.91),
 (196, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 1.98),
 (219, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 3.96),
 (224, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 1.98),
 (225, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 1.98),
 (236, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 13.86),
 (241, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 5.94),
 (247, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 3.96),
 (269, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 5.94),
 (291, 38, 'Barbarossastraße 19', 'Berlin', 'Germany', 8.91),
 (293, 2, 'Theodor-Heuss-Straße 34', 'Stuttgart', 'Germany', 0.99),
 (321, 36, 'Tauentzienstraße 8', 'Berlin', 'Germany', 0.99),
 (322, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 1.98),
 (345, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 3.96),
 (367, 37, 'Berger Straße 10', 'Frankfurt', 'Germany', 5.94)]

In [29]:
# Spaltennamen erhält man über description.
# Die Ausgabe sind siebenteilige Tupel, wobei die Überschrift immer im
# ersten Element steckt:
cursor.description

(('InvoiceId', None, None, None, None, None, None),
 ('CustomerId', None, None, None, None, None, None),
 ('BillingAddress', None, None, None, None, None, None),
 ('BillingCity', None, None, None, None, None, None),
 ('BillingCountry', None, None, None, None, None, None),
 ('Total', None, None, None, None, None, None))

In [30]:
# Sich nur die Spaltennamen ausgeben lassen:
for column in cursor.description:
	print(column[0])

InvoiceId
CustomerId
BillingAddress
BillingCity
BillingCountry
Total

In [13]:
# Wenn wir den Cursor nicht mehr brauchen, sollten wir ihn schließen,
# auch wenn es nicht so tragisch ist, wenn man das vergisst, denn er wird
# mit der Zeit automatisch entfernt:
cursor.close()

ProgrammingError: Cannot operate on a closed database.

In [15]:
# Wenn wir mit allem fertig sind, sollte die bestehende Verbindung geschlossen werden:
connection.close()

#### Aufgabe: 
1. Stelle eine Verbindung zu Chinook her.
2. Lass dir die Nach- und Vornamen aller Mitarbeiter ausgeben.
3. Hole dir aus Invoice Kundennummer, Stadt sowie Gesamtbetrag und hole außerdem die Kundennamen hinzu. 
   Lasse dir die oberen zehn Einträge ausgeben.
4. Schließe die Verbindung wieder.

In [3]:
connection = sqlite3.connect(
	r"C:\Users\Admin\OneDrive\Dokumente\DataCraft\DataAnalyst_Aug.24\08_Datenbanken_und_SQL\databases\Chinook.db")

In [4]:
cursor = connection.cursor()

In [5]:
employeesname = '''
		SELECT LastName,
		FirstName
		FROM Employee;
'''

In [6]:
cursor.execute(employeesname)
cursor.fetchall()

[('Adams', 'Andrew'),
 ('Edwards', 'Nancy'),
 ('Peacock', 'Jane'),
 ('Park', 'Margaret'),
 ('Johnson', 'Steve'),
 ('Mitchell', 'Michael'),
 ('King', 'Robert'),
 ('Callahan', 'Laura')]

In [7]:
customers = '''
		SELECT C.LastName || ", " || C.FirstName,
		I.CustomerId,
		I.BillingCity,
		I.Total
		FROM Customer C
		JOIN Invoice I on C.CustomerId = I.CustomerId
		ORDER BY I.CustomerId
		LIMIT 10;
'''

In [8]:
cursor.execute(customers)
cursor.fetchall()

[('Gonçalves, Luís', 1, 'São José dos Campos', 3.98),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 3.96),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 5.94),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 0.99),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 1.98),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 13.86),
 ('Gonçalves, Luís', 1, 'São José dos Campos', 8.91),
 ('Köhler, Leonie', 2, 'Stuttgart', 1.98),
 ('Köhler, Leonie', 2, 'Stuttgart', 13.86),
 ('Köhler, Leonie', 2, 'Stuttgart', 8.91)]

In [20]:
cursor.close()
connection.close()

## Eine neue Datenbank erstellen

Vorhin war die Rede davon, dass bei der connect-Methode eine Datenbank neu erstellt wird, jetzt wollen wir genau das machen!

In [26]:
# Verbindung zur noch nicht existierenden Datenbank wohnungen.db aufbauen:
connection = sqlite3.connect(
	r"C:\Users\Admin\OneDrive\Dokumente\DataCraft\DataAnalyst_Aug.24\08_Datenbanken_und_SQL\databases\wohnungen.db")

In [ ]:
# Kurz im Bereich Datenbanken die neue Tabelle einbinden!

In [27]:
cursor = connection.cursor()

In [13]:
# Eine neue Tabelle erstellen
# 1. SQL-Befehl als String-Variable erstellen:

create_areas_table = """
    CREATE TABLE IF NOT EXISTS areas(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        preis FLOAT,
        quadratmeter INT,
        stadt VARCHAR);"""

In [14]:
# 2. Den Befehl ausführen:
cursor.execute(create_areas_table)

In [15]:
# fetchall() gibt alles zurück, was wir durch Select aus Tabelle areas bekommen.
# Aktuell ist das eine leere Liste:
cursor.execute("SELECT * FROM areas;")
cursor.fetchall()

[]

In [16]:
# Ein paar Daten einfügen (die Query):
insertion_query = """
    INSERT INTO areas (preis, quadratmeter, stadt)
    VALUES
    (65.24, 70, "München"),
    (21.88, 367, "Augsburg"),
    (89.22, 34, "Halle");
"""

# SQL-Befehl über sqlite3 durchführen:
cursor.execute(insertion_query)

In [17]:
# Hier sehen wir Inhalte:
cursor.execute('SELECT * FROM areas;')
cursor.fetchall()

[(1, 65.24, 70, 'München'),
 (2, 21.88, 367, 'Augsburg'),
 (3, 89.22, 34, 'Halle')]

### Achtung! Wenn wir SQL aus Python heraus benutzen, ist der Modus "autocommit" standardmäßig aus. Das bedeutet, dass wir jedes Mal cursor.commit() ausführen müssen, um unsere Veränderungen wirklich in die Datenbank zu schreiben. Alternativ kann man auch mit with arbeiten.

In [18]:
# Die Inhalte sind also noch nicht in der Datenbank.
# Schreibt die Veränderungen in die Datenbank:
connection.commit()

# Daten aus Excel importieren -> Pandas

Pandas bringt uns wieder allerhand Zusatzfunktionen, auch für SQL.
Zunächst wollen wir eine Excel-Tabelle in unsere SQLite-Datenbank einfügen.

Excel-Tabelle in ein DataFrame einlesen:
( Falls nicht schon vorhanden, muss das Paket openpyxl vorher installiert werden)

In [23]:
data = pd.read_excel('hotelsneu.xlsx')
data.head()

   Gewinn  Preis in Mio  Quadratmeter    Stadt  Preis pro Quadratmeter
0  119000         21.88          3938   Berlin             5556.119858
1  250000         27.95          3986  München             7012.042148
2  250000         16.09          2574     Köln             6250.971251
3  145000         27.58          4155  München             6637.785800
4  110000         23.76          3795   Berlin             6260.869565

Alle Zeilen der Excel-Tabelle in die Datenbank überführen: 

1. Tabelle 'hotels' in SQL erstellen

In [28]:
create_hotels = """
    CREATE TABLE IF NOT EXISTS hotels(
        Gewinn int,
        Preis float,
        Quadratmeter int,
        Stadt varchar,
        Preis_qm float);"""

cursor.execute(create_hotels)

2. Einfügen der Daten aus Dataframe direkt per `to_sql`-Befehl an die von uns angelegte Connection (die ja auch hier in Python geöffnet ist)

In [29]:
# Hilfe für Funktion to_sql anzeigen lassen
help(data.to_sql)

Help on method to_sql in module pandas.core.generic:

to_sql(name: 'str', con, *, schema: 'str | None' = None, if_exists: "Literal['fail', 'replace', 'append']" = 'fail', index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, chunksize: 'int | None' = None, dtype: 'DtypeArg | None' = None, method: "Literal['multi'] | Callable | None" = None) -> 'int | None' method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : str
        Name of SQL table.
    con : sqlalchemy.engine.(Engine or Connection) or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects. The user
        is responsible for engine disposal and connection closure for the SQLAlchemy
        connectable. See `here                 <https://docs.sqlalchemy.org/en/20/core/connections.html>`_.
        If passing a sqlalchemy.engine.Connection which is already in a transaction,
        the transaction will not be committed.  If passing a sqlite3.Connection,
        it will not be possible to roll back the record insertion.

    schema : str, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : bool, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table. Creates a table index for this column.
    index_label : str or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Specify the number of rows in each batch to be written at a time.
        By default, all rows will be written at once.
    dtype : dict or scalar, optional
        Specifying the datatype for columns. If a dictionary is used, the
        keys should be the column names and the values should be the
        SQLAlchemy types or strings for the sqlite3 legacy mode. If a
        scalar is provided, it will be applied to all columns.
    method : {None, 'multi', callable}, optional
        Controls the SQL insertion clause used:

        * None : Uses standard SQL ``INSERT`` clause (one per row).
        * 'multi': Pass multiple values in a single ``INSERT`` clause.
        * callable with signature ``(pd_table, conn, keys, data_iter)``.

        Details and a sample callable implementation can be found in the
        section :ref:`insert method <io.sql.method>`.

    Returns
    -------
    None or int
        Number of rows affected by to_sql. None is returned if the callable
        passed into ``method`` does not return an integer number of rows.

        The number of returned rows affected is the sum of the ``rowcount``
        attribute of ``sqlite3.Cursor`` or SQLAlchemy connectable which may not
        reflect the exact number of written rows as stipulated in the
        `sqlite3 <https://docs.python.org/3/library/sqlite3.html#sqlite3.Cursor.rowcount>`__ or
        `SQLAlchemy <https://docs.sqlalchemy.org/en/20/core/connections.html#sqlalchemy.engine.CursorResult.rowcount>`__.

        .. versionadded:: 1.4.0

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    read_sql : Read a DataFrame from a table.

    Notes
    -----
    Timezone aware datetime columns will be written as
    ``Timestamp with timezone`` type with SQLAlchemy if supported by the
    database. Otherwise, the datetimes will be stored as timezone unaware
    timestamps local to the original timezone.

    Not all datastores support ``method="multi"``. Oracle, for example,
    does not support multi-value insert.

    References
    ----------
    .. [1] https://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------
    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql(name='users', con=engine)
    3
    >>> from sqlalchemy import text
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    An `sqlalchemy.engine.Connection` can also be passed to `con`:

    >>> with engine.begin() as connection:
    ...     df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    ...     df1.to_sql(name='users', con=connection, if_exists='append')
    2

    This is allowed to support operations that require that the same
    DBAPI connection is used for the entire operation.

    >>> df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
    >>> df2.to_sql(name='users', con=engine, if_exists='append')
    2
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5'), (0, 'User 6'),
     (1, 'User 7')]

    Overwrite the table with just ``df2``.

    >>> df2.to_sql(name='users', con=engine, if_exists='replace',
    ...            index_label='id')
    2
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 6'), (1, 'User 7')]

    Use ``method`` to define a callable insertion method to do nothing
    if there's a primary key conflict on a table in a PostgreSQL database.

    >>> from sqlalchemy.dialects.postgresql import insert
    >>> def insert_on_conflict_nothing(table, conn, keys, data_iter):
    ...     # "a" is the primary key in "conflict_table"
    ...     data = [dict(zip(keys, row)) for row in data_iter]
    ...     stmt = insert(table.table).values(data).on_conflict_do_nothing(index_elements=["a"])
    ...     result = conn.execute(stmt)
    ...     return result.rowcount
    >>> df_conflict.to_sql(name="conflict_table", con=conn, if_exists="append", method=insert_on_conflict_nothing)  # doctest: +SKIP
    0

    For MySQL, a callable to update columns ``b`` and ``c`` if there's a conflict
    on a primary key.

    >>> from sqlalchemy.dialects.mysql import insert
    >>> def insert_on_conflict_update(table, conn, keys, data_iter):
    ...     # update columns "b" and "c" on primary key conflict
    ...     data = [dict(zip(keys, row)) for row in data_iter]
    ...     stmt = (
    ...         insert(table.table)
    ...         .values(data)
    ...     )
    ...     stmt = stmt.on_duplicate_key_update(b=stmt.inserted.b, c=stmt.inserted.c)
    ...     result = conn.execute(stmt)
    ...     return result.rowcount
    >>> df_conflict.to_sql(name="conflict_table", con=conn, if_exists="append", method=insert_on_conflict_update)  # doctest: +SKIP
    2

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql(name='integers', con=engine, index=False,
    ...           dtype={"A": Integer()})
    3

    >>> with engine.connect() as conn:
    ...   conn.execute(text("SELECT * FROM integers")).fetchall()
    [(1,), (None,), (2,)]

In [30]:
# Daten in Tabelle hotel eintragen
data.to_sql("hotels",
			connection,
			if_exists="replace",
			index=False)

150

Überprüfen, ob das Einfügen von den Excel-Daten auch erfolgreich war (wir nutzen hier wieder `fetchall()`)

In [33]:
cursor.execute("SELECT * FROM hotels;")
cursor.fetchall()

[(119000, 21.88, 3938, 'Berlin', 5556.119857795836),
 (250000, 27.95, 3986, 'München', 7012.042147516308),
 (250000, 16.09, 2574, 'Köln', 6250.971250971251),
 (145000, 27.58, 4155, 'München', 6637.785800240674),
 (110000, 23.76, 3795, 'Berlin', 6260.869565217391),
 (246000, 22.88, 2773, 'München', 8250.991705733863),
 (54000, 13.25, 634, 'München', 20899.05362776025),
 (2000, 8.94, 82, 'München', 109024.3902439024),
 (114000, 24.87, 3706, 'München', 6710.739341608203),
 (47000, 14.11, 1692, 'Berlin', 8339.243498817967),
 (54000, 11.65, 1989, 'Köln', 5857.214680744092),
 (124000, 17.26, 2616, 'Berlin', 6597.859327217126),
 (125000, 18.45, 3358, 'Köln', 5494.34187016081),
 (62000, 17.08, 1941, 'München', 8799.587841318908),
 (250000, 19.32, 1831, 'München', 10551.61114145276),
 (24000, 8.48, 800, 'Berlin', 10600.0),
 (102000, 14.16, 2700, 'Köln', 5244.444444444444),
 (26000, 13.84, 1257, 'München', 11010.34208432777),
 (85000, 19.59, 2644, 'Berlin', 7409.228441754917),
 (182000, 18.64, 2001, 'München', 9315.342328835583),
 (74000, 8.0, 1581, 'Köln', 5060.088551549652),
 (5000, 7.84, 82, 'München', 95609.75609756098),
 (134000, 15.54, 2412, 'Köln', 6442.786069651741),
 (14000, 6.09, 769, 'Köln', 7919.375812743823),
 (84000, 22.4, 3815, 'Berlin', 5871.559633027523),
 (124000, 23.44, 3122, 'München', 7508.007687379884),
 (32000, 17.75, 1492, 'München', 11896.78284182306),
 (250000, 6.73, 525, 'Köln', 12819.04761904762),
 (53000, 14.22, 1217, 'München', 11684.47000821693),
 (32000, 17.22, 1497, 'München', 11503.00601202405),
 (63000, 17.97, 3101, 'Berlin', 5794.904869396969),
 (88000, 13.58, 2644, 'Köln', 5136.157337367625),
 (156000, 19.1, 3631, 'Köln', 5260.25888185073),
 (138000, 13.09, 1461, 'Berlin', 8959.616700889801),
 (37000, 15.93, 1492, 'München', 10676.9436997319),
 (86000, 19.37, 2408, 'München', 8044.019933554818),
 (17000, 7.87, 859, 'Köln', 9161.816065192084),
 (23000, 9.76, 703, 'Berlin', 13883.35704125178),
 (136000, 22.98, 4908, 'Köln', 4682.151589242054),
 (129000, 14.15, 2545, 'Köln', 5559.92141453831),
 (34000, 13.77, 1847, 'Berlin', 7455.332972387656),
 (18000, 7.77, 502, 'Berlin', 15478.08764940239),
 (137000, 18.12, 3478, 'Köln', 5209.890741805635),
 (73000, 9.88, 756, 'Berlin', 13068.78306878307),
 (156000, 24.78, 5099, 'Köln', 4859.776426750343),
 (21000, 8.69, 1215, 'Köln', 7152.263374485597),
 (91000, 19.76, 3107, 'Berlin', 6359.832635983264),
 (72000, 13.76, 2375, 'Köln', 5793.684210526316),
 (101000, 11.87, 2101, 'Köln', 5649.690623512613),
 (250000, 24.21, 4832, 'Köln', 5010.347682119205),
 (57000, 13.0, 2458, 'Köln', 5288.852725793328),
 (83000, 23.6, 4561, 'Berlin', 5174.303880727911),
 (87000, 24.43, 4044, 'Berlin', 6041.04846686449),
 (141000, 21.93, 3896, 'Berlin', 5628.850102669405),
 (99000, 21.26, 2630, 'München', 8083.650190114068),
 (250000, 20.43, 3249, 'Berlin', 6288.08864265928),
 (99000, 14.97, 2409, 'Berlin', 6214.196762141968),
 (113000, 22.62, 2618, 'München', 8640.1833460657),
 (83000, 19.6, 3366, 'Köln', 5822.93523469994),
 (29000, 10.94, 1625, 'Köln', 6732.307692307692),
 (68000, 22.3, 3149, 'München', 7081.61321054303),
 (121000, 22.99, 3944, 'Berlin', 5829.107505070994),
 (71000, 16.32, 3162, 'Berlin', 5161.290322580645),
 (64000, 13.86, 1993, 'Köln', 6954.340190667335),
 (250000, 16.39, 2583, 'Köln', 6345.334881920247),
 (97000, 16.55, 2301, 'Berlin', 7192.524989135159),
 (4000, 6.95, 171, 'Berlin', 40643.27485380117),
 (250000, 20.64, 3876, 'Köln', 5325.077399380805),
 (13000, 12.1, 304, 'München', 39802.63157894737),
 (250000, 20.86, 3849, 'Köln', 5419.589503767213),
 (66000, 22.42, 2795, 'München', 8021.466905187835),
 (250000, 32.78, 5702, 'München', 5748.860049105577),
 (75000, 20.14, 4082, 'Köln', 4933.855952964233),
 (125000, 20.27, 3910, 'Köln', 5184.143222506394),
 (126000, 24.49, 4565, 'Berlin', 5364.731653888281),
 (250000, 27.94, 4436, 'München', 6298.467087466186),
 (250000, 10.41, 1355, 'Köln', 7682.656826568265),
 (64000, 14.9, 2220, 'Berlin', 6711.711711711711),
 (97000, 24.81, 3674, 'München', 6752.857920522591),
 (91000, 16.38, 2847, 'Köln', 5753.424657534246),
 (124000, 26.31, 5201, 'Berlin', 5058.642568736781),
 (25000, 9.07, 1002, 'Berlin', 9051.89620758483),
 (58000, 19.93, 3306, 'München', 6028.43315184513),
 (57000, 15.18, 2952, 'Köln', 5142.276422764227),
 (19000, 7.98, 723, 'Berlin', 11037.34439834025),
 (23000, 12.08, 760, 'München', 15894.73684210526),
 (26000, 9.63, 1241, 'Köln', 7759.871071716358),
 (96000, 23.05, 3168, 'München', 7275.883838383838),
 (250000, 28.24, 5741, 'Köln', 4919.00365789932),
 (45000, 17.71, 1873, 'München', 9455.419113721302),
 (3000, 6.62, 114, 'Berlin', 58070.17543859649),
 (116000, 21.03, 3707, 'Berlin', 5673.050984623685),
 (80000, 17.13, 3165, 'Köln', 5412.322274881517),
 (62000, 16.15, 1799, 'München', 8977.209560867148),
 (85000, 11.9, 647, 'München', 18392.58114374034),
 (20000, 8.97, 396, 'Berlin', 22651.51515151515),
 (61000, 7.75, 1346, 'Köln', 5757.800891530461),
 (142000, 30.14, 5427, 'München', 5553.712916896997),
 (156000, 17.67, 3085, 'Köln', 5727.71474878444),
 (39000, 13.98, 1594, 'Berlin', 8770.38895859473),
 (163000, 19.13, 3619, 'Köln', 5285.990605139541),
 (128000, 16.51, 1127, 'München', 14649.51197870453),
 (71000, 18.09, 2985, 'Berlin', 6060.301507537689),
 (67000, 20.95, 2770, 'München', 7563.176895306859),
 (7000, 9.25, 242, 'Berlin', 38223.14049586777),
 (250000, 26.66, 5519, 'Köln', 4830.58525095126),
 (69000, 13.97, 3062, 'Köln', 4562.377531025473),
 (120000, 22.87, 4681, 'Köln', 4885.70818201239),
 (34000, 18.3, 2501, 'München', 7317.073170731707),
 (25000, 11.21, 1690, 'Berlin', 6633.136094674556),
 (89000, 27.96, 4494, 'München', 6221.628838451268),
 (176000, 20.54, 2671, 'München', 7690.003743916136),
 (250000, 35.35, 5549, 'München', 6370.517210308164),
 (103000, 7.65, 1275, 'Köln', 6000.0),
 (56000, 14.56, 2218, 'Köln', 6564.472497745717),
 (76000, 18.78, 2186, 'München', 8591.033851784081),
 (7000, 4.16, 380, 'Köln', 10947.36842105263),
 (33000, 16.04, 1505, 'München', 10657.8073089701),
 (121000, 27.27, 4151, 'München', 6569.501324981932),
 (44000, 13.09, 1781, 'Berlin', 7349.803481190343),
 (250000, 31.79, 5607, 'Berlin', 5669.698591046906),
 (125000, 28.49, 5643, 'Köln', 5048.732943469786),
 (125000, 21.27, 3309, 'Berlin', 6427.92384406165),
 (48000, 17.86, 3302, 'Berlin', 5408.843125378558),
 (95000, 17.35, 3429, 'Köln', 5059.784193642461),
 (250000, 15.44, 2584, 'Köln', 5975.232198142415),
 (135000, 16.94, 3224, 'Köln', 5254.342431761786),
 (44000, 6.3, 788, 'Köln', 7994.923857868021),
 (192000, 23.82, 3708, 'Berlin', 6423.948220064725),
 (63000, 8.9, 1489, 'Köln', 5977.165883143049),
 (87000, 14.69, 2244, 'Köln', 6546.345811051693),
 (11000, 4.8, 179, 'Köln', 26815.64245810056),
 (121000, 13.21, 2220, 'Köln', 5950.45045045045),
 (104000, 19.87, 3374, 'Berlin', 5889.152341434499),
 (227000, 12.98, 1696, 'Berlin', 7653.301886792453),
 (250000, 12.73, 2115, 'Köln', 6018.912529550827),
 (250000, 19.6, 3558, 'Köln', 5508.712759977516),
 (35000, 7.91, 1021, 'Köln', 7747.306562193928),
 (187000, 24.9, 4008, 'Berlin', 6212.574850299401),
 (8000, 5.65, 267, 'Köln', 21161.04868913858),
 (250000, 29.45, 5256, 'Berlin', 5603.120243531203),
 (232000, 15.28, 2337, 'Köln', 6538.296961916988),
 (8000, 6.19, 449, 'Köln', 13786.19153674833),
 (213000, 23.86, 4763, 'Köln', 5009.44782699979),
 (159000, 21.4, 3078, 'Berlin', 6952.566601689408),
 (45000, 10.5, 1775, 'Köln', 5915.492957746479),
 (250000, 23.8, 4058, 'Köln', 5864.958107442089),
 (32000, 12.86, 1668, 'Berlin', 7709.832134292566),
 (35000, 15.8, 2281, 'Berlin', 6926.786497150372),
 (90000, 17.09, 2297, 'Berlin', 7440.139312146278)]

Auch hier können wir natürlich mit konkreteren Select-Befehlen arbeiten

In [34]:
cursor.execute("""
               SELECT *
               FROM hotels
               WHERE Stadt = 'Köln';""")

cursor.fetchall()

[(250000, 16.09, 2574, 'Köln', 6250.971250971251),
 (54000, 11.65, 1989, 'Köln', 5857.214680744092),
 (125000, 18.45, 3358, 'Köln', 5494.34187016081),
 (102000, 14.16, 2700, 'Köln', 5244.444444444444),
 (74000, 8.0, 1581, 'Köln', 5060.088551549652),
 (134000, 15.54, 2412, 'Köln', 6442.786069651741),
 (14000, 6.09, 769, 'Köln', 7919.375812743823),
 (250000, 6.73, 525, 'Köln', 12819.04761904762),
 (88000, 13.58, 2644, 'Köln', 5136.157337367625),
 (156000, 19.1, 3631, 'Köln', 5260.25888185073),
 (17000, 7.87, 859, 'Köln', 9161.816065192084),
 (136000, 22.98, 4908, 'Köln', 4682.151589242054),
 (129000, 14.15, 2545, 'Köln', 5559.92141453831),
 (137000, 18.12, 3478, 'Köln', 5209.890741805635),
 (156000, 24.78, 5099, 'Köln', 4859.776426750343),
 (21000, 8.69, 1215, 'Köln', 7152.263374485597),
 (72000, 13.76, 2375, 'Köln', 5793.684210526316),
 (101000, 11.87, 2101, 'Köln', 5649.690623512613),
 (250000, 24.21, 4832, 'Köln', 5010.347682119205),
 (57000, 13.0, 2458, 'Köln', 5288.852725793328),
 (83000, 19.6, 3366, 'Köln', 5822.93523469994),
 (29000, 10.94, 1625, 'Köln', 6732.307692307692),
 (64000, 13.86, 1993, 'Köln', 6954.340190667335),
 (250000, 16.39, 2583, 'Köln', 6345.334881920247),
 (250000, 20.64, 3876, 'Köln', 5325.077399380805),
 (250000, 20.86, 3849, 'Köln', 5419.589503767213),
 (75000, 20.14, 4082, 'Köln', 4933.855952964233),
 (125000, 20.27, 3910, 'Köln', 5184.143222506394),
 (250000, 10.41, 1355, 'Köln', 7682.656826568265),
 (91000, 16.38, 2847, 'Köln', 5753.424657534246),
 (57000, 15.18, 2952, 'Köln', 5142.276422764227),
 (26000, 9.63, 1241, 'Köln', 7759.871071716358),
 (250000, 28.24, 5741, 'Köln', 4919.00365789932),
 (80000, 17.13, 3165, 'Köln', 5412.322274881517),
 (61000, 7.75, 1346, 'Köln', 5757.800891530461),
 (156000, 17.67, 3085, 'Köln', 5727.71474878444),
 (163000, 19.13, 3619, 'Köln', 5285.990605139541),
 (250000, 26.66, 5519, 'Köln', 4830.58525095126),
 (69000, 13.97, 3062, 'Köln', 4562.377531025473),
 (120000, 22.87, 4681, 'Köln', 4885.70818201239),
 (103000, 7.65, 1275, 'Köln', 6000.0),
 (56000, 14.56, 2218, 'Köln', 6564.472497745717),
 (7000, 4.16, 380, 'Köln', 10947.36842105263),
 (125000, 28.49, 5643, 'Köln', 5048.732943469786),
 (95000, 17.35, 3429, 'Köln', 5059.784193642461),
 (250000, 15.44, 2584, 'Köln', 5975.232198142415),
 (135000, 16.94, 3224, 'Köln', 5254.342431761786),
 (44000, 6.3, 788, 'Köln', 7994.923857868021),
 (63000, 8.9, 1489, 'Köln', 5977.165883143049),
 (87000, 14.69, 2244, 'Köln', 6546.345811051693),
 (11000, 4.8, 179, 'Köln', 26815.64245810056),
 (121000, 13.21, 2220, 'Köln', 5950.45045045045),
 (250000, 12.73, 2115, 'Köln', 6018.912529550827),
 (250000, 19.6, 3558, 'Köln', 5508.712759977516),
 (35000, 7.91, 1021, 'Köln', 7747.306562193928),
 (8000, 5.65, 267, 'Köln', 21161.04868913858),
 (232000, 15.28, 2337, 'Köln', 6538.296961916988),
 (8000, 6.19, 449, 'Köln', 13786.19153674833),
 (213000, 23.86, 4763, 'Köln', 5009.44782699979),
 (45000, 10.5, 1775, 'Köln', 5915.492957746479),
 (250000, 23.8, 4058, 'Köln', 5864.958107442089)]

In [35]:
# Schließen der Verbindung
cursor.close()
connection.close()