In [9]:
from audioop import minmax

import pandas as pd
import seaborn as sns
from numpy import dtype
from sqlalchemy import column

# Pandas

In [2]:
# insurance.csv laden
data = pd.read_csv("insurance.csv")

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# Die ersten fünf Zeilen des Dataframes anzeigen lassen:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
# Die letzten zehn Zeilen des Dataframes anzeigen lassen:
data.tail(10)

      age     sex     bmi  children smoker     region      charges
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

In [6]:
# Nur die Spaltennamen ausgeben lassen:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
print(dtype(data["age"]))

int64

In [10]:
# Die Datentypen aller Spalten auflisten
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [18]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [19]:
data.memory_usage()

Index         132
age         10704
sex         10704
bmi         10704
children    10704
smoker      10704
region      10704
charges     10704
dtype: int64

In [12]:
# Die Anzahl der verschiedenen Geschlechter im Datensatz ermitteln:
data["sex"].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [15]:
# Die einzigartigen Werte als Array:
data["sex"].unique()

array(['female', 'male'], dtype=object)

In [20]:
# Die einzigartigen Werte als Zahl:
data["sex"].nunique()

2

In [ ]:
# ÜBUNG
# Lasse dir Zahl der einzigartigen Werte in der Spalte 'children' ausgeben

# Lasse dir außerdem in aufsteigender Reihenfolge die entsprechenden Anzahlen ausgeben (wie viele Leute im Datensatz haben 1 Kind, wie viele 2 etc.)

In [24]:
data["children"].nunique()

6

In [27]:
data["children"].value_counts(ascending=True)

children
5     18
4     25
3    157
2    240
1    324
0    574
Name: count, dtype: int64

In [28]:
# Den ganzen Datensatz statistisch beschreiben lassen:
data.describe()
# Was fällt auf?

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
# ÜBUNG: Lasse dir die statistische Zusammenfassung geben von
# a) der Spalte 'bmi'
# b) allen Spalten mit Ausnahme von 'children'

In [29]:
data["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [36]:
data.drop(columns=["children"]).describe()

               age          bmi       charges
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397  13270.422265
std      14.049960     6.098187  12110.011237
min      18.000000    15.960000   1121.873900
25%      27.000000    26.296250   4740.287150
50%      39.000000    30.400000   9382.033000
75%      51.000000    34.693750  16639.912515
max      64.000000    53.130000  63770.428010

In [37]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [49]:
# Was ist der höchste/niedrigste Rechnungsbetrag für Behandlungskosten im Datensatz?
print('Min:', data["charges"].min())
print('Max:', data["charges"].max())

Min: 1121.8739
Max: 63770.42801

In [ ]:
# ÜBUNG: Was ist das durchschnittliche/niedrigste Alter? (Löse ohne describe)

In [52]:
print(f'Mean: {data["age"].mean()} Jahre')
print(f'Min: {data["age"].min()} Jahre')

Mean: 39.20702541106129 Jahre
Min: 18 Jahre

In [53]:
# Korrelation numerischer Spalten
# Version 1: ...
data.corr(numeric_only=True)

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [ ]:
# Version 2: ...

In [ ]:
# Aber was, wenn man auch die Korrelation von Spalten mit Textdaten 
# wie Geschlecht sehen will?
# Version 1 mit ...:

In [ ]:
# Version 2 mit ...:

In [54]:
# ÜBUNG: Erstelle numerische Spalten für Raucherstatus und für Regionen.
data["smoker_binary"] = data["smoker"].map({"no": 0, "yes": 1})

In [56]:
regio_dummies = pd.get_dummies(data["region"])
data = data.join(regio_dummies)

In [57]:
data

,age,sex,bmi,children,smoker,region,charges,smoker_binary,northeast,northwest,southeast,southwest
0,19,female,27.900,0,yes,southwest,16884.92400,1,False,False,False,True
1,18,male,33.770,1,no,southeast,1725.55230,0,False,False,True,False
2,28,male,33.000,3,no,southeast,4449.46200,0,False,False,True,False
3,33,male,22.705,0,no,northwest,21984.47061,0,False,True,False,False
4,32,male,28.880,0,no,northwest,3866.85520,0,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0,False,True,False,False
1334,18,female,31.920,0,no,northeast,2205.98080,0,True,False,False,False
1335,18,female,36.850,0,no,southeast,1629.83350,0,False,False,True,False
1336,21,female,25.800,0,no,southwest,2007.94500,0,False,False,False,True
1337,61,female,29.070,0,yes,northwest,29141.36030,1,False,True,False,False

In [ ]:
# Trick, um nur numerische Spalten auszuwählen

In [ ]:
# Falls man nur Spalten mit "object" sehen will:

In [ ]:
# Mehr Infos: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html

In [ ]:
# Korrelationsmatrix

In [ ]:
# Nur die Korrelation mit Kosten absteigend:

In [ ]:
# Background, was der Index ist:

In [ ]:
# Heatmap erstellen

In [ ]:
# Welcher Plot für Zusammenhang von charges und smoker?
# Bereits informativ, aber weniger geeignet:

In [ ]:
# Gut geeignet:

In [ ]:
# Ebenfalls gut geeignet:

In [ ]:
# Barplot:

In [ ]:
# Unterschiedlich große Stichproben verantwortlich für unterschiedliche Genauigkeit des Mittelwerts. Test:

In [ ]:
# ÜBUNG: Welcher Plot passt zu den Spalten age und charges?
# Visualisiere deren Zusammenhang und erkläre, was du siehst.

In [ ]:
# Regplot mit Trendline

In [ ]:
# Eine zufällige Stichprobe der Größe 100 aus dem Dataframe ziehen:

In [ ]:
# Daten nach Geschlecht gruppieren und Mittelwert von charges ermitteln:

In [ ]:
# Mittelwerte von charges, bmi, age:

In [ ]:
# Für alle numerischen Spalten:

In [ ]:
# ÜBUNG: Gruppiere deine Daten nach dem Raucherstatus. Ermittle den Mittelwert von BMI und den Behandlungskosten für beide Gruppen.

In [ ]:
# Nur einen Raucher-Dataframe (Kopie) für die weitere Analyse erstellen:

In [ ]:
# Nur ein Test ;)

In [ ]:
# ÜBUNG: Erstelle einen Dataframe für die Region "southeast". Ermittle die Anzahl von Frauen und Männern in diesem Dataframe und bestimme die durchschnittlichen Behandlungskosten für Raucher/Nicht-Raucher dieser Region.

In [ ]:
# Spalten eines Datensatzes umbenennen:

# Mit inplace = True in den Dataframe übertragen.

In [ ]:
# Alternative: Spaltennamen mit einer Liste überschreiben

In [ ]:
# Werte ersetzen

In [ ]:
# ÜBUNG
# Ersetze 'yes' und 'no' mit 'ja' und 'nein'
# Ersetze die Regionen mit sinnvollen deutschen Entsprechungen.
# Exportiere das Resultat als CSV!