# Wiederholung: Python & SQL
### Datenbanken erstellen, verwalten, entfernen (kompakt)

## I. Python & SQLite

Hinweis: Einmal den globalen Dialekt auf SQLite umstellen, bitte.

In [47]:
# Die Imports (werden hier nach den einzelnen Sektionen aufgetrennt)
import sqlite3
import pandas as pd
import os

#### 1. Datenbank erstellen

In [ ]:
# Erstellen der noch nicht existierenden Datenbank demo.db + Verbindung herstellen:
connection = sqlite3.connect(r'C:\Users\Admin\Documents\1_oktoberkurs\4_SQL\databases\demo.db')

#### 2. Tabelle erstellen

In [ ]:
# Eine neue Tabelle erstellen
create_books_table = '''
CREATE TABLE IF NOT EXISTS books(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    titel VARCHAR(255),
    autor VARCHAR(120),
    gelesen BOOLEAN
);
'''

In [ ]:
# Tabelle erstellen (hierfür KEIN commit nötig):
connection.execute(create_books_table)

#### 3. Tabelle befüllen

In [ ]:
# Die Daten, die in die Datenbank sollen:
new_books = [
    ('Auslöschung', 'Thomas Bernhard', True),
    ('Dämonen', 'Fjodor Dostojewskij', True),
    ('Krieg und Frieden', 'Lew N. Tolstoj', False),
    ('Das Schloss', 'Franz Kafka', False),
    ('Das kunstseidene Mädchen', 'Irmgard Keun', True)
]

In [ ]:
# Abfrage zum Einfügen mittels 'question mark style':
insert_books = '''INSERT INTO books(titel, autor, gelesen)
                      VALUES (?, ?, ?)'''

In [ ]:
# Einfügen von Tupeln aus der Bücherliste mittels executemany:
connection.executemany(insert_books, new_books)

In [ ]:
# Hier ist nun commit erforderlich:
connection.commit()

#### 4.1 Tabelleninhalte holen mit Cursor

In [ ]:
# Cursor erstellen:
cursor = connection.cursor()

In [ ]:
# Tabelleninhalte in Cursor laden:
cursor.execute('SELECT * FROM books;')

In [ ]:
# Tabelleninhalte ausgeben lassen (Liste mit Tupeln):
cursor.fetchall()

#### 4.2 Tabelleninhalte holen mit Pandas

In [ ]:
books = pd.read_sql('SELECT * FROM books;', connection, index_col='id')
books

#### 5. Tabelle löschen

In [ ]:
connection.execute('DROP TABLE IF EXISTS books;')

In [ ]:
# Test: Sollte nach dem DROP einen DatabaseError auslösen:
test = pd.read_sql('SELECT * FROM books;', connection, index_col='id')
test

#### 6. Verbindung richtig beenden

In [ ]:
# Nach jeder Session, bitte:
cursor.close()
connection.close()

#### 7. Datenbank entfernen

Da die Datenbanken einfache Files sind, können sie nicht einfach während einer Verbindung
gelöscht werden. (Bei Postgres mussten wir eigens die Datenbank wechseln, auf die wir zugreifen.)
Ist aber nicht schlimm. Denn wir können die Datei im Ordner einfach löschen und weg ist die Datenbank.
Und wer ganz cool sein will, löscht die Datenbank mit os. ;)

In [ ]:
# Verbindung wieder herstellen:
connection = sqlite3.connect(r'C:\Users\Admin\Documents\1_oktoberkurs\4_SQL\databases\demo.db')

In [ ]:
# Existiert nicht bei SQLite und wird nicht funktionieren:
connection.execute('DROP DATABASE IF EXISTS demo.db;')

In [ ]:
# Löschen mit os, Versuch 1:
os.remove(r'C:\Users\Admin\Documents\1_oktoberkurs\4_SQL\databases\demo.db')
# Solange die Verbindung besteht, wird os die Datei nicht löschen können.

In [ ]:
# Erst Verbindungen schließen...
connection.close()

In [ ]:
# ...dann löschen:
os.remove(r'C:\Users\Admin\Documents\1_oktoberkurs\4_SQL\databases\demo.db')

## II. Python & PostgreSQL (psycopg2)

Aus didaktischen Gründen verzichten wir im Folgenden auf den Einsatz von Konfigurationsdateien.
 Wer wissen will, wie das mit der config.ini war, muss in die Unterlagen von vor zwei Tagen

Hinweis: Einmal den globalen Dialekt auf PostgreSQL umstellen, bitte.

In [48]:
import psycopg2

#### 0. Verbinden zur Datenbank 'postgres'

In [ ]:
# Verbinden mit postgres-Datenbank
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password='DataCraft',
    database='postgres'
)

#### 1. Datenbank erstellen

In [ ]:
# Cursor ins Leben rufen (auch für CREATE nötig!):
cursor = connection.cursor()

In [ ]:
# autocommit für Datenbankerstellung muss auf True:
connection.autocommit = True

In [ ]:
# Mit Create Datenbank erstellen:
cursor.execute('CREATE DATABASE demo;')

In [ ]:
# Alten Cursor und Verbindung schließen:
cursor.close()
connection.close()

#### 2. Tabelle erstellen

In [ ]:
# Verbinden mit demo-Datenbank
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password='DataCraft',
    database='demo'
)

In [ ]:
# Statement für die Erstellung:
create_books_table = '''
CREATE TABLE IF NOT EXISTS books(
    id SERIAL PRIMARY KEY,
    titel VARCHAR(255),
    autor VARCHAR(120),
    gelesen BOOLEAN
);
'''

In [ ]:
# Tabelle erstellen (hierfür cursor nötig):
cursor = connection.cursor()
cursor.execute(create_books_table)

In [ ]:
# In Datenbank schreiben:
connection.commit()

#### 3. Tabelle befüllen

In [ ]:
# Die Daten, die in die Datenbank sollen:
new_books = [
    ('Auslöschung', 'Thomas Bernhard', True),
    ('Dämonen', 'Fjodor Dostojewskij', True),
    ('Krieg und Frieden', 'Lew N. Tolstoj', False),
    ('Das Schloss', 'Franz Kafka', False),
    ('Das kunstseidene Mädchen', 'Irmgard Keun', True)
]

In [ ]:
# Abfrage zum Einfügen mit '%s' statt '?':
insert_books = '''INSERT INTO books(titel, autor, gelesen)
                      VALUES (%s, %s, %s)'''

In [ ]:
# Einfügen von Tupeln aus der Bücherliste mittels executemany:
cursor.executemany(insert_books, new_books)

In [ ]:
# Hier wieder commit erforderlich:
connection.commit()

#### 4.1 Tabelleninhalte holen mit Cursor

In [ ]:
# Cursor haben wir schon weiter oben erstellt

In [ ]:
# Tabelleninhalte in Cursor laden:
cursor.execute('SELECT * FROM books;')

In [ ]:
# Tabelleninhalte ausgeben lassen (Liste mit Tupeln):
cursor.fetchall()

#### 4.2 Tabelleninhalte holen mit Pandas

In [ ]:
# Bitte nicht tun! Das sollte mit SQLAlchemy geschehen.
books = pd.read_sql('SELECT * FROM books;', connection, index_col='id')
books

#### 5. Tabelle löschen

In [ ]:
# Drop-Befehl:
cursor.execute('DROP TABLE IF EXISTS books;')

In [ ]:
# Umsetzung mittels commit:
connection.commit()

In [ ]:
# Test: Sollte nach dem DROP einen DatabaseError auslösen:
test = pd.read_sql('SELECT * FROM books;', connection, index_col='id')
test

#### 6. Verbindung richtig beenden

In [ ]:
# Nach jeder Session, bitte:
cursor.close()
connection.close()

#### 7. Datenbank entfernen

In Postgres können wir nicht die Datenbank löschen, mit der wir verbunden sind. Stattdessen verbinden wir uns klassischerweise mit der Datenbank 'postgres' und feuern von dort aus unser 'DROP DATABASE' ab.

In [ ]:
# Verbinden mit postgres-Datenbank (NICHT demo)
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password='DataCraft',
    database='postgres'
)

# Wie bei CREATE muss autocommit auf True
connection.autocommit = True

# Cursor für die Arbeit erzeugen:
cursor = connection.cursor()

In [ ]:
# Weg mit der 'demo':
cursor.execute('DROP DATABASE IF EXISTS demo;')

## III. Python & PostgreSQL (SQLAlchemy)

Aus didaktischen Gründen verzichten wir im Folgenden auf den Einsatz von Konfigurationsdateien. 
Wer wissen will, wie das mit der config.ini war, muss in die Unterlagen von vor zwei Tagen

In [1]:
import sqlalchemy
from sqlalchemy import text

#### 1. Datenbank erstellen und verbinden

In [14]:
# Mit postgres verbinden:
connection_str = "postgresql://postgres:DataCraft@localhost:5432/postgres"

# Engine anlegen mit Autocommit an, damit CREATE funktioniert:
engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")

In [15]:
# Verbindung mittels engine aufbauen:
connection = engine.connect()

In [16]:
# Neue Datenbank 'demo' erstellen:
connection.execute(text("""CREATE DATABASE demo;"""))

In [19]:
# Verbindung auflösen:
connection.close()
engine.dispose()

#### 2. Tabelle erstellen

In [22]:
# Verbindungsstring zu 'demo' aufbauen:
connection_str = "postgresql://postgres:DataCraft@localhost:5432/demo"
engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")
connection = engine.connect()

In [26]:
# Neue Tabelle 'books' anlegen:
create_books_table = '''
CREATE TABLE IF NOT EXISTS books(
    id SERIAL PRIMARY KEY,
    titel VARCHAR(255),
    autor VARCHAR(120),
    gelesen BOOLEAN
);
'''

connection.execute(text(create_books_table))

#### 3. Tabelle befüllen

Diesen Schritt führen wir mittels psycopg2 aus, da die Arbeit mit SQLAlchemy hier zu viele Dinge aus dem Bereich OOP voraussetzt.

In [50]:
# SQLAlchemy-Verbindung auflösen:
connection.close()
engine.dispose()

In [51]:
# Verbinden mit demo-Datenbank
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password='DataCraft',
    database='demo'
)
cursor = connection.cursor()

In [52]:
insert_books = '''INSERT INTO books(titel, autor, gelesen)
                      VALUES (%s, %s, %s)'''

new_books = [
    ('Auslöschung', 'Thomas Bernhard', True),
    ('Dämonen', 'Fjodor Dostojewskij', True),
    ('Krieg und Frieden', 'Lew N. Tolstoj', False),
    ('Das Schloss', 'Franz Kafka', False),
    ('Das kunstseidene Mädchen', 'Irmgard Keun', True)
]

cursor.executemany(insert_books, new_books)
connection.commit()

In [53]:
cursor.close()
connection.close()

#### 4.1 Tabelleninhalte holen mit Cursor

In [54]:
# Verbindungsstring zu 'demo' aufbauen:
connection_str = "postgresql://postgres:DataCraft@localhost:5432/demo"
engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")
connection = engine.connect()

In [61]:
# Tabelleninhalte in Cursor laden:
cursor = connection.execute(text('SELECT * FROM books;'))

In [60]:
# Inhalte anschauen:
cursor.fetchall()

[(1, 'Auslöschung', 'Thomas Bernhard', True),
 (2, 'Dämonen', 'Fjodor Dostojewskij', True),
 (3, 'Krieg und Frieden', 'Lew N. Tolstoj', False),
 (4, 'Das Schloss', 'Franz Kafka', False),
 (5, 'Das kunstseidene Mädchen', 'Irmgard Keun', True)]

#### 4.2 Tabelleninhalte holen mit Pandas

In [63]:
# Eigentlich der einzige Grund für uns, mit SQLAlchemy statt psycopg2 zu arbeiten:
books = pd.read_sql('SELECT * FROM books;', connection, index_col='id')
books

                       titel                autor  gelesen
id
1                Auslöschung      Thomas Bernhard     True
2                    Dämonen  Fjodor Dostojewskij     True
3          Krieg und Frieden       Lew N. Tolstoj    False
4                Das Schloss          Franz Kafka    False
5   Das kunstseidene Mädchen         Irmgard Keun     True

#### 4.3 CSV über Pandas in Datenbank einpflegen

In [64]:
# CSV über Dataframe in eine Datenbank laden geht denkbar einfach!
# Schritt 1: CSV einlesen
authors_df = pd.read_csv('authors.csv')
authors_df

                         Name Geburtsdatum
0  Johann Wolfgang von Goethe   1749-08-28
1         William Shakespeare   1564-04-23
2                 Jane Austen   1775-12-16
3            Ernest Hemingway   1899-07-21
4              Virginia Woolf   1882-01-25
5           Fyodor Dostoevsky   1821-11-11
6      Gabriel Garcia Marquez   1927-03-06
7             Haruki Murakami   1949-01-12
8             Emily Dickinson   1830-12-10
9               Toni Morrison   1931-02-18

In [65]:
# Schritt 2: Daten aus Dataframe über Connection übertragen
authors_df.to_sql('authors', connection)

10

In [66]:
# Check:
cursor = connection.execute(text('SELECT * FROM authors;'))
cursor.fetchall()

[(0, 'Johann Wolfgang von Goethe', '1749-08-28'),
 (1, 'William Shakespeare', '1564-04-23'),
 (2, 'Jane Austen', '1775-12-16'),
 (3, 'Ernest Hemingway', '1899-07-21'),
 (4, 'Virginia Woolf', '1882-01-25'),
 (5, 'Fyodor Dostoevsky', '1821-11-11'),
 (6, 'Gabriel Garcia Marquez', '1927-03-06'),
 (7, 'Haruki Murakami', '1949-01-12'),
 (8, 'Emily Dickinson', '1830-12-10'),
 (9, 'Toni Morrison', '1931-02-18')]

In [67]:
# Alles wieder kappen:
connection.close()
engine.dispose()

#### 5. Datenbank entfernen

In [2]:
# Mit postgres verbinden:
connection_str = "postgresql://postgres:DataCraft@localhost:5432/postgres"

# Engine anlegen mit Autocommit an, damit CREATE funktioniert:
engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")

In [3]:
# Verbindung mittels engine aufbauen:
connection = engine.connect()

In [4]:
# Datenbank 'demo' entfernen:
connection.execute(text("""DROP DATABASE demo;"""))

In [5]:
# Alles wieder kappen:
connection.close()
engine.dispose()