In [1]:
# imports:
import pandas as pd
from getpass import getpass
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
import psycopg
import psycopg2

In [2]:
# connection sqlalchemy:
pw = getpass('Please enter password: ')
connection_url = f'postgresql://postgres:{pw}@localhost:5432/exoplanets'
engine = create_engine(connection_url)

# check connection:
with engine.connect() as conn_alchemy:
    print("SQLAlchemy connected!")


# connection psycopg:
pw = getpass('Please enter password: ')
with psycopg.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password=pw,
    dbname='exoplanets',
    autocommit=True
) as connection:
    print("psycopg connected!")

SQLAlchemy connected!
psycopg connected!

In [3]:
# selections:
sel_planets = '''
    SELECT
	planet_id,
	planet_name,
	star_id
FROM meta_data'''

planets_df = pd.read_sql(sel_planets, engine)
planets_df.to_sql('planets', engine)

142

In [4]:
# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE planets
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

drop_col: successful!

In [5]:
# selections:
sel_stars = '''
    SELECT
        DISTINCT(host_star_name),
        star_id
	FROM meta_data'''

stars_df = pd.read_sql(sel_stars, engine)
stars_df.to_sql('stars', engine)

833

In [6]:
# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE stars
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

drop_col: successful!

In [7]:
# selections:
sel_values = '''
    SELECT
	planet_id,
	planet_type,
    star_id,
    distance,
	spectral_type,
    mass_multiplier,
    mass_wrt,
    radius_wrt,
    radius_multiplier,
    orbital_period_days,
    discovery_year
FROM meta_data;'''

values_df = pd.read_sql(sel_values, engine)
values_df.to_sql('values', engine)

142

In [8]:
# drop col index:
with Session(engine) as session:
    drop_col = """
        ALTER TABLE values
    DROP COLUMN index"""

    # execute Query:
    session.execute(text(drop_col))
    session.commit()
    print("drop_col: successful!")

drop_col: successful!

In [9]:
# close connections:
engine.dispose()
connection.close()