## T-Tests in Python

In [1]:
import pandas as pd
import plotly.express as px
import scipy.stats as st

In [3]:
# Der heutige Datensatz:
tips = px.data.tips()
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# Die Spalten in der Übersicht:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

### Einstichproben T-Test

In [5]:
# Mittelwert der Spalte total_bill:
tips['total_bill'].mean()

np.float64(19.78594262295082)

In [6]:
# Einstichproben-T-Test zum Vergleich EINER SPALTE mit einer KONSTANTEN
# Hier mit scipy.stats und Unterschied zu 10 (hypothetischer Mittelwert)
# H0: Total_Bill unterscheidet sich nicht von 10
# H1: Total_Bill unterscheidet sich von 10
m = 10  # hypothetischer Wert µ0
result = st.ttest_1samp(tips['total_bill'], m)
print(result)

TtestResult(statistic=np.float64(17.170774748891453), pvalue=np.float64(8.22295124817181e-44), df=np.int64(243))

In [10]:
t = result.statistic
t

np.float64(17.170774748891453)

In [11]:
p = result.pvalue
p

np.float64(8.22295124817181e-44)

In [12]:
# Test ob p kleiner ist als Signifikanzniveau:
alpha = 0.05
p < alpha

np.True_

In [13]:
# Auch mit Angabe von Richtung möglich:
print(st.ttest_1samp(tips.total_bill, 10, alternative="less"))
print(st.ttest_1samp(tips.total_bill, 10, alternative="greater"))

TtestResult(statistic=np.float64(17.170774748891453), pvalue=np.float64(1.0), df=np.int64(243))
TtestResult(statistic=np.float64(17.170774748891453), pvalue=np.float64(4.111475624085905e-44), df=np.int64(243))

In [16]:
# Umgang mit fehlenden Werten ist ebenso einstellbar:
st.ttest_1samp(tips.total_bill, 10, nan_policy="omit")

TtestResult(statistic=np.float64(17.170774748891453), pvalue=np.float64(8.22295124817181e-44), df=np.int64(243))

### Zweistichproben T-Test für abhängige Stichproben

In [17]:
# Zweistichproben T-Test zum Vergleich ZWEITER SPALTEN der GLEICHEN MERKMALSTRÄGER
# Mit scipy stats
data = {
    "Proband": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Blutdruck_Vorher": [120, 130, 125, 140, 135, 128, 132, 138, 142, 126],
    "Blutdruck_Nachher": [118, 128, 122, 138, 132, 125, 130, 135, 140, 124]
}

measures = pd.DataFrame(data).set_index('Proband')

measures

         Blutdruck_Vorher  Blutdruck_Nachher
Proband
1                     120                118
2                     130                128
3                     125                122
4                     140                138
5                     135                132
6                     128                125
7                     132                130
8                     138                135
9                     142                140
10                    126                124

In [19]:
measures.describe()

       Blutdruck_Vorher  Blutdruck_Nachher
count         10.000000          10.000000
mean         131.600000         129.200000
std            7.121173           7.146095
min          120.000000         118.000000
25%          126.500000         124.250000
50%          131.000000         129.000000
75%          137.250000         134.250000
max          142.000000         140.000000

In [22]:
# Abhängigen t-Test durchführen
t_statistic, p_value = st.ttest_rel(
    measures['Blutdruck_Vorher'],
    measures['Blutdruck_Nachher']
)

print(f"t-Statistik: {t_statistic}")
print(f"p-Wert: {p_value}")

# Die restlichen Funktionen bietet dieser Test natürlich ebenso wie oben beim Einstichproben T-Test
# p-Wert DEUTLICH unter 0.05

t-Statistik: 14.696938456699067
p-Wert: 1.346732577311636e-07

### Zweistichproben T-Test für unabhängige Stichproben

In [23]:
# Zweistichproben T-Test zum Vergleich EINER SPALTE aufgeteilt in ZWEI GRUPPEN
# Mit SciPy
females = tips.total_bill[tips.sex=='Female']
males = tips.total_bill[tips.sex=='Male']
# equal_var=True > bei ähnlichen Varianzen der Populationen
# bei ungleichen Varianzen equal_var=False)
t_statistic, p_value = st.ttest_ind(females, males, equal_var=True)  # default True
print(f"t-Statistik: {t_statistic}")
print(f"p-Wert: {p_value}")

t-Statistik: -2.2777940289803134
p-Wert: 0.0236116668468594

In [24]:
# Doch woher weiß ich, welcher der beiden Tests jetzt richtig ist?
# Hierfür muss ich die Varianzen auf Unterschiede prüfen!
# Auch hierfür gibt es einen passenden Test -> Levene-Test
# Mantra: Wenn p > .050 --> Gleiche Varianzen; sonst ungleiche Varianzen
st.levene(females, males)

# Hier also gleiche Varianzen!

LeveneResult(statistic=np.float64(1.631715567905501), pvalue=np.float64(0.20269005267784274))

#### Übungsaufgabe
Arbeite mit dem iris-Datensatz und beantworte die folgende Frage:
<br>
Gibt es einen signifikanten Unterschied zwischen den Spezies in einer der vier Variablen (such dir mindestens eine aus)?

In [ ]:
iris = px.data.iris()
iris.head()