In [1]:
import os, sqlite3

In [2]:
# 1.) mit Db verbinden
my_connector = sqlite3.connect("my_db")

In [3]:
# 2.) Cursor erzeugen
cursor = my_connector.cursor()

In [4]:
# 3.) DB TABLE erzeugen
sql = "CREATE TABLE personen(" \
    "name TEXT," \
    "vorname TEXT," \
    "id INTEGER PRIMARY KEY," \
    "groesse REAL)"
cursor.execute(sql)

In [5]:
# 4.) TABLE-Datensatz erzeugen
sql = "INSERT INTO personen VALUES('Maier', "\
    " 'Achim', 007, 1.70)"
cursor.execute(sql)

sql = "INSERT INTO personen VALUES('MÃ¼ller', "\
    " 'Jochen', 005, 1.85)"
cursor.execute(sql)

sql = "INSERT INTO personen VALUES('Rickert', "\
    " 'Rainer', 003, 1.60)"
cursor.execute(sql)

In [6]:
# 5.) Commit
my_connector.commit()

In [7]:
# 6.) Verbinden mit DB beenden
my_connector.close()