In [1]:
import os, sqlite3

# mit Db verbinden
my_connector = sqlite3.connect("my_db")
cursor = my_connector.cursor()

# SQL-Abfrage
sql = "SELECT name, vorname FROM personen"
cursor.execute(sql)

# Ergebnis
for dsatz in cursor:
    print(sql)
    print("Data_:", dsatz)
    print("Data-Points:", dsatz[0], dsatz[1])

# Verbindung beenden
my_connector.close()

SELECT name, vorname FROM personen
Data_: ('Rickert', 'Rainer')
Data-Points: Rickert Rainer
SELECT name, vorname FROM personen
Data_: ('Müller', 'Jochen')
Data-Points: Müller Jochen
SELECT name, vorname FROM personen
Data_: ('Maier', 'Achim')
Data-Points: Maier Achim

In [2]:
# Daten auswählen mit Operatoren WHERE
my_connector = sqlite3.connect("my_db")
cursor = my_connector.cursor()
# SQL-Abfrage
sql = " SELECT * FROM personen " \
    " WHERE groesse < 1.85"
cursor.execute(sql)

for dsatz in cursor:
    print(sql)
    print("Data_:", dsatz)

my_connector.close()

 SELECT * FROM personen  WHERE groesse < 1.85
Data_: ('Rickert', 'Rainer', 3, 1.6)
 SELECT * FROM personen  WHERE groesse < 1.85
Data_: ('Maier', 'Achim', 7, 1.7)

In [3]:
# Daten auswählen mit Operatoren LIKE
my_connector = sqlite3.connect("my_db")
cursor = my_connector.cursor()
# SQL-Abfrage
sql = " SELECT * FROM personen WHERE name LIKE 'M%' ORDER BY groesse DESC "
cursor.execute(sql)

for dsatz in cursor:
    print(dsatz)

my_connector.close()

('Müller', 'Jochen', 5, 1.85)
('Maier', 'Achim', 7, 1.7)