In [1]:
import sqlite3

# mit Db verbinden
my_connector = sqlite3.connect("my_db")

# Cursor erzeugen
cursor = my_connector.cursor()

# SQL-Abfrage (querry)
sql = "SELECT * FROM personen"
print("sql:", sql)
cursor.execute(sql)

# Ergebnis
for dsatz in cursor:
    print("Big Maier:", dsatz)
    print("Datenpunkte_:", dsatz[0], dsatz[1], dsatz[2], dsatz[3])
# Verbinden mit DB beenden
my_connector.close()

sql: SELECT * FROM personen
Big Maier: ('Rickert', 'Rainer', 3, 1.6)
Datenpunkte_: Rickert Rainer 3 1.6
Big Maier: ('Müller', 'Jochen', 5, 1.85)
Datenpunkte_: Müller Jochen 5 1.85
Big Maier: ('Maier', 'Achim', 7, 1.7)
Datenpunkte_: Maier Achim 7 1.7