# Python & SQLite – Teil 2

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Verbindung zur Datenbank herstellen
database_path = r'C:\Users\Admin\OneDrive\Dokumente\DataCraft\DataAnalyst_Aug.24\08_Datenbanken_und_SQL\databases\wohnungen.db'
connection = sqlite3.connect(database_path)

In [3]:
# Cursor erstellen
cursor = connection.cursor()

In [4]:
# Verbindung testen
cursor.execute('SELECT * FROM hotels;')

In [5]:
# Das Ergebnis von fetchall() ist eine Liste
result = cursor.fetchall()

In [6]:
result

[(119000, 21.88, 3938, 'Berlin', 5556.119857795836),
 (250000, 27.95, 3986, 'München', 7012.042147516308),
 (250000, 16.09, 2574, 'Köln', 6250.971250971251),
 (145000, 27.58, 4155, 'München', 6637.785800240674),
 (110000, 23.76, 3795, 'Berlin', 6260.869565217391),
 (246000, 22.88, 2773, 'München', 8250.991705733863),
 (54000, 13.25, 634, 'München', 20899.05362776025),
 (2000, 8.94, 82, 'München', 109024.3902439024),
 (114000, 24.87, 3706, 'München', 6710.739341608203),
 (47000, 14.11, 1692, 'Berlin', 8339.243498817967),
 (54000, 11.65, 1989, 'Köln', 5857.214680744092),
 (124000, 17.26, 2616, 'Berlin', 6597.859327217126),
 (125000, 18.45, 3358, 'Köln', 5494.34187016081),
 (62000, 17.08, 1941, 'München', 8799.587841318908),
 (250000, 19.32, 1831, 'München', 10551.61114145276),
 (24000, 8.48, 800, 'Berlin', 10600.0),
 (102000, 14.16, 2700, 'Köln', 5244.444444444444),
 (26000, 13.84, 1257, 'München', 11010.34208432777),
 (85000, 19.59, 2644, 'Berlin', 7409.228441754917),
 (182000, 18.64, 2001, 'München', 9315.342328835583),
 (74000, 8.0, 1581, 'Köln', 5060.088551549652),
 (5000, 7.84, 82, 'München', 95609.75609756098),
 (134000, 15.54, 2412, 'Köln', 6442.786069651741),
 (14000, 6.09, 769, 'Köln', 7919.375812743823),
 (84000, 22.4, 3815, 'Berlin', 5871.559633027523),
 (124000, 23.44, 3122, 'München', 7508.007687379884),
 (32000, 17.75, 1492, 'München', 11896.78284182306),
 (250000, 6.73, 525, 'Köln', 12819.04761904762),
 (53000, 14.22, 1217, 'München', 11684.47000821693),
 (32000, 17.22, 1497, 'München', 11503.00601202405),
 (63000, 17.97, 3101, 'Berlin', 5794.904869396969),
 (88000, 13.58, 2644, 'Köln', 5136.157337367625),
 (156000, 19.1, 3631, 'Köln', 5260.25888185073),
 (138000, 13.09, 1461, 'Berlin', 8959.616700889801),
 (37000, 15.93, 1492, 'München', 10676.9436997319),
 (86000, 19.37, 2408, 'München', 8044.019933554818),
 (17000, 7.87, 859, 'Köln', 9161.816065192084),
 (23000, 9.76, 703, 'Berlin', 13883.35704125178),
 (136000, 22.98, 4908, 'Köln', 4682.151589242054),
 (129000, 14.15, 2545, 'Köln', 5559.92141453831),
 (34000, 13.77, 1847, 'Berlin', 7455.332972387656),
 (18000, 7.77, 502, 'Berlin', 15478.08764940239),
 (137000, 18.12, 3478, 'Köln', 5209.890741805635),
 (73000, 9.88, 756, 'Berlin', 13068.78306878307),
 (156000, 24.78, 5099, 'Köln', 4859.776426750343),
 (21000, 8.69, 1215, 'Köln', 7152.263374485597),
 (91000, 19.76, 3107, 'Berlin', 6359.832635983264),
 (72000, 13.76, 2375, 'Köln', 5793.684210526316),
 (101000, 11.87, 2101, 'Köln', 5649.690623512613),
 (250000, 24.21, 4832, 'Köln', 5010.347682119205),
 (57000, 13.0, 2458, 'Köln', 5288.852725793328),
 (83000, 23.6, 4561, 'Berlin', 5174.303880727911),
 (87000, 24.43, 4044, 'Berlin', 6041.04846686449),
 (141000, 21.93, 3896, 'Berlin', 5628.850102669405),
 (99000, 21.26, 2630, 'München', 8083.650190114068),
 (250000, 20.43, 3249, 'Berlin', 6288.08864265928),
 (99000, 14.97, 2409, 'Berlin', 6214.196762141968),
 (113000, 22.62, 2618, 'München', 8640.1833460657),
 (83000, 19.6, 3366, 'Köln', 5822.93523469994),
 (29000, 10.94, 1625, 'Köln', 6732.307692307692),
 (68000, 22.3, 3149, 'München', 7081.61321054303),
 (121000, 22.99, 3944, 'Berlin', 5829.107505070994),
 (71000, 16.32, 3162, 'Berlin', 5161.290322580645),
 (64000, 13.86, 1993, 'Köln', 6954.340190667335),
 (250000, 16.39, 2583, 'Köln', 6345.334881920247),
 (97000, 16.55, 2301, 'Berlin', 7192.524989135159),
 (4000, 6.95, 171, 'Berlin', 40643.27485380117),
 (250000, 20.64, 3876, 'Köln', 5325.077399380805),
 (13000, 12.1, 304, 'München', 39802.63157894737),
 (250000, 20.86, 3849, 'Köln', 5419.589503767213),
 (66000, 22.42, 2795, 'München', 8021.466905187835),
 (250000, 32.78, 5702, 'München', 5748.860049105577),
 (75000, 20.14, 4082, 'Köln', 4933.855952964233),
 (125000, 20.27, 3910, 'Köln', 5184.143222506394),
 (126000, 24.49, 4565, 'Berlin', 5364.731653888281),
 (250000, 27.94, 4436, 'München', 6298.467087466186),
 (250000, 10.41, 1355, 'Köln', 7682.656826568265),
 (64000, 14.9, 2220, 'Berlin', 6711.711711711711),
 (97000, 24.81, 3674, 'München', 6752.857920522591),
 (91000, 16.38, 2847, 'Köln', 5753.424657534246),
 (124000, 26.31, 5201, 'Berlin', 5058.642568736781),
 (25000, 9.07, 1002, 'Berlin', 9051.89620758483),
 (58000, 19.93, 3306, 'München', 6028.43315184513),
 (57000, 15.18, 2952, 'Köln', 5142.276422764227),
 (19000, 7.98, 723, 'Berlin', 11037.34439834025),
 (23000, 12.08, 760, 'München', 15894.73684210526),
 (26000, 9.63, 1241, 'Köln', 7759.871071716358),
 (96000, 23.05, 3168, 'München', 7275.883838383838),
 (250000, 28.24, 5741, 'Köln', 4919.00365789932),
 (45000, 17.71, 1873, 'München', 9455.419113721302),
 (3000, 6.62, 114, 'Berlin', 58070.17543859649),
 (116000, 21.03, 3707, 'Berlin', 5673.050984623685),
 (80000, 17.13, 3165, 'Köln', 5412.322274881517),
 (62000, 16.15, 1799, 'München', 8977.209560867148),
 (85000, 11.9, 647, 'München', 18392.58114374034),
 (20000, 8.97, 396, 'Berlin', 22651.51515151515),
 (61000, 7.75, 1346, 'Köln', 5757.800891530461),
 (142000, 30.14, 5427, 'München', 5553.712916896997),
 (156000, 17.67, 3085, 'Köln', 5727.71474878444),
 (39000, 13.98, 1594, 'Berlin', 8770.38895859473),
 (163000, 19.13, 3619, 'Köln', 5285.990605139541),
 (128000, 16.51, 1127, 'München', 14649.51197870453),
 (71000, 18.09, 2985, 'Berlin', 6060.301507537689),
 (67000, 20.95, 2770, 'München', 7563.176895306859),
 (7000, 9.25, 242, 'Berlin', 38223.14049586777),
 (250000, 26.66, 5519, 'Köln', 4830.58525095126),
 (69000, 13.97, 3062, 'Köln', 4562.377531025473),
 (120000, 22.87, 4681, 'Köln', 4885.70818201239),
 (34000, 18.3, 2501, 'München', 7317.073170731707),
 (25000, 11.21, 1690, 'Berlin', 6633.136094674556),
 (89000, 27.96, 4494, 'München', 6221.628838451268),
 (176000, 20.54, 2671, 'München', 7690.003743916136),
 (250000, 35.35, 5549, 'München', 6370.517210308164),
 (103000, 7.65, 1275, 'Köln', 6000.0),
 (56000, 14.56, 2218, 'Köln', 6564.472497745717),
 (76000, 18.78, 2186, 'München', 8591.033851784081),
 (7000, 4.16, 380, 'Köln', 10947.36842105263),
 (33000, 16.04, 1505, 'München', 10657.8073089701),
 (121000, 27.27, 4151, 'München', 6569.501324981932),
 (44000, 13.09, 1781, 'Berlin', 7349.803481190343),
 (250000, 31.79, 5607, 'Berlin', 5669.698591046906),
 (125000, 28.49, 5643, 'Köln', 5048.732943469786),
 (125000, 21.27, 3309, 'Berlin', 6427.92384406165),
 (48000, 17.86, 3302, 'Berlin', 5408.843125378558),
 (95000, 17.35, 3429, 'Köln', 5059.784193642461),
 (250000, 15.44, 2584, 'Köln', 5975.232198142415),
 (135000, 16.94, 3224, 'Köln', 5254.342431761786),
 (44000, 6.3, 788, 'Köln', 7994.923857868021),
 (192000, 23.82, 3708, 'Berlin', 6423.948220064725),
 (63000, 8.9, 1489, 'Köln', 5977.165883143049),
 (87000, 14.69, 2244, 'Köln', 6546.345811051693),
 (11000, 4.8, 179, 'Köln', 26815.64245810056),
 (121000, 13.21, 2220, 'Köln', 5950.45045045045),
 (104000, 19.87, 3374, 'Berlin', 5889.152341434499),
 (227000, 12.98, 1696, 'Berlin', 7653.301886792453),
 (250000, 12.73, 2115, 'Köln', 6018.912529550827),
 (250000, 19.6, 3558, 'Köln', 5508.712759977516),
 (35000, 7.91, 1021, 'Köln', 7747.306562193928),
 (187000, 24.9, 4008, 'Berlin', 6212.574850299401),
 (8000, 5.65, 267, 'Köln', 21161.04868913858),
 (250000, 29.45, 5256, 'Berlin', 5603.120243531203),
 (232000, 15.28, 2337, 'Köln', 6538.296961916988),
 (8000, 6.19, 449, 'Köln', 13786.19153674833),
 (213000, 23.86, 4763, 'Köln', 5009.44782699979),
 (159000, 21.4, 3078, 'Berlin', 6952.566601689408),
 (45000, 10.5, 1775, 'Köln', 5915.492957746479),
 (250000, 23.8, 4058, 'Köln', 5864.958107442089),
 (32000, 12.86, 1668, 'Berlin', 7709.832134292566),
 (35000, 15.8, 2281, 'Berlin', 6926.786497150372),
 (90000, 17.09, 2297, 'Berlin', 7440.139312146278),
 (12000, 15.5, 222, 'Zutzenhausen', 12.2)]

In [7]:
# Python-Wiederholung:
# Wie greifen wir auf das dritte Element der Liste zu?
result[2]

(250000, 16.09, 2574, 'Köln', 6250.971250971251)

In [8]:
# Python-Wiederholung:
# Ein einzelnes Element des Ergebnisses von fetchall()
# ist ein Tupel. Wie greifen wir auf das vierte Element
# des dritten Tupels zu?
result[2][3]

'Köln'

In [9]:
# Warum haben wir fetchall auf Variable result gelegt?
# weil wenn wir es nicht auf die var packen, ist der cursor nach dem 1. fetchall() leer und kann nicht mehr verwendet werden!

## SQL-Abfrage-Ergebnisse direkt in DataFrames speichern

Daten aus Datenbank auslesen und in DataFrame speichern
-> Für die Umwandlung nutzen wir `pd.read_sql`

In [10]:
help(pd.read_sql)

Help on function read_sql in module pandas.io.sql:

read_sql(sql, con, index_col: 'str | list[str] | None' = None, coerce_float: 'bool' = True, params=None, parse_dates=None, columns: 'list[str] | None' = None, chunksize: 'int | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, dtype: 'DtypeArg | None' = None) -> 'DataFrame | Iterator[DataFrame]'
    Read SQL query or database table into a DataFrame.

    This function is a convenience wrapper around ``read_sql_table`` and
    ``read_sql_query`` (for backward compatibility). It will delegate
    to the specific function depending on the provided input. A SQL query
    will be routed to ``read_sql_query``, while a database table name will
    be routed to ``read_sql_table``. Note that the delegated function might
    have more specific notes about their functionality not listed here.

    Parameters
    ----------
    sql : str or SQLAlchemy Selectable (select or text object)
        SQL query to be executed or a table name.
    con : ADBC Connection, SQLAlchemy connectable, str, or sqlite3 connection
        ADBC provides high performance I/O with native type support, where available.
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. If a DBAPI2 object, only sqlite3 is supported. The user is responsible
        for engine disposal and connection closure for the ADBC connection and
        SQLAlchemy connectable; str connections are closed automatically. See
        `here <https://docs.sqlalchemy.org/en/20/core/connections.html>`_.
    index_col : str or list of str, optional, default: None
        Column(s) to set as index(MultiIndex).
    coerce_float : bool, default True
        Attempts to convert values of non-string, non-numeric objects (like
        decimal.Decimal) to floating point, useful for SQL result sets.
    params : list, tuple or dict, optional, default: None
        List of parameters to pass to execute method.  The syntax used
        to pass parameters is database driver dependent. Check your
        database driver documentation for which of the five syntax styles,
        described in PEP 249's paramstyle, is supported.
        Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}.
    parse_dates : list or dict, default: None
        - List of column names to parse as dates.
        - Dict of ``{column_name: format string}`` where format string is
          strftime compatible in case of parsing string times, or is one of
          (D, s, ns, ms, us) in case of parsing integer timestamps.
        - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
          to the keyword arguments of :func:`pandas.to_datetime`
          Especially useful with databases without native Datetime support,
          such as SQLite.
    columns : list, default: None
        List of column names to select from SQL table (only used when reading
        a table).
    chunksize : int, default None
        If specified, return an iterator where `chunksize` is the
        number of rows to include in each chunk.
    dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
        Back-end data type applied to the resultant :class:`DataFrame`
        (still experimental). Behaviour is as follows:

        * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
          (default).
        * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
          DataFrame.

        .. versionadded:: 2.0
    dtype : Type name or dict of columns
        Data type for data or columns. E.g. np.float64 or
        {'a': np.float64, 'b': np.int32, 'c': 'Int64'}.
        The argument is ignored if a table is passed instead of a query.

        .. versionadded:: 2.0.0

    Returns
    -------
    DataFrame or Iterator[DataFrame]

    See Also
    --------
    read_sql_table : Read SQL database table into a DataFrame.
    read_sql_query : Read SQL query into a DataFrame.

    Examples
    --------
    Read data from SQL via either a SQL query or a SQL tablename.
    When using a SQLite database only SQL queries are accepted,
    providing only the SQL tablename will result in an error.

    >>> from sqlite3 import connect
    >>> conn = connect(':memory:')
    >>> df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
    ...                   columns=['int_column', 'date_column'])
    >>> df.to_sql(name='test_data', con=conn)
    2

    >>> pd.read_sql('SELECT int_column, date_column FROM test_data', conn)
       int_column date_column
    0           0    10/11/12
    1           1    12/11/10

    >>> pd.read_sql('test_data', 'postgres:///db_name')  # doctest:+SKIP

    Apply date parsing to columns through the ``parse_dates`` argument
    The ``parse_dates`` argument calls ``pd.to_datetime`` on the provided columns.
    Custom argument values for applying ``pd.to_datetime`` on a column are specified
    via a dictionary format:

    >>> pd.read_sql('SELECT int_column, date_column FROM test_data',
    ...             conn,
    ...             parse_dates={"date_column": {"format": "%d/%m/%y"}})
       int_column date_column
    0           0  2012-11-10
    1           1  2010-11-12

    .. versionadded:: 2.2.0

       pandas now supports reading via ADBC drivers

    >>> from adbc_driver_postgresql import dbapi  # doctest:+SKIP
    >>> with dbapi.connect('postgres:///db_name') as conn:  # doctest:+SKIP
    ...     pd.read_sql('SELECT int_column FROM test_data', conn)
       int_column
    0           0
    1           1

In [9]:
hotels_df = pd.read_sql('SELECT * FROM hotels;', connection)
hotels_df.head()

   Gewinn  Preis in Mio  Quadratmeter    Stadt  Preis pro Quadratmeter
0  119000         21.88          3938   Berlin             5556.119858
1  250000         27.95          3986  München             7012.042148
2  250000         16.09          2574     Köln             6250.971251
3  145000         27.58          4155  München             6637.785800
4  110000         23.76          3795   Berlin             6260.869565

#### Das Problem mit den Leerzeichen

In Python sollte man Leerzeichen (außerhalb von Strings) am besten vermeiden.
Allerdings sollte man auch innerhalb von Datenbanken auf Leerzeichen
verzichten, weil sie uns spätestens in Python wieder Probleme bereiten.

In [10]:
# Alle Infos der Spalte "Preis in Mio" selektieren:
df_preis = pd.read_sql('SELECT Preis in Mio FROM hotels;', connection)

DatabaseError: Execution failed on sql 'SELECT Preis in Mio FROM hotels;': no such table: Mio

In [11]:
# Der vorherige Code verursacht einen Fehler, da die Bezeichnung
# "Preis in Mio" nicht als zusammengehöriger String identifiziert wird
# Wie lösen wir das?
df_preis = pd.read_sql('SELECT "Preis in Mio" FROM hotels;', connection)
df_preis

     Preis in Mio
0           21.88
1           27.95
2           16.09
3           27.58
4           23.76
..            ...
146         23.80
147         12.86
148         15.80
149         17.09
150         15.50

[151 rows x 1 columns]

In [12]:
connection.close()

### 2. Einmalige SQL-Verbindung
#### 2.1 `with`-Statement

 Das `with`-Statement haben wir bereits im Zusammenhang mit dem Öffnen, Lesen und Schreiben von Dateien kennengelernt. Praktisch daran war, dass es eine Datei geöffnet und anschließend automatisch geschlossen hat. Den gleichen Vorteil können wir mit sqlite3 mit Datenbanken leider nicht nutzen.

In [13]:
with sqlite3.connect(database_path) as connection:
	df = pd.read_sql('SELECT * FROM hotels;', connection)

df.head()

   Gewinn  Preis in Mio  Quadratmeter    Stadt  Preis pro Quadratmeter
0  119000         21.88          3938   Berlin             5556.119858
1  250000         27.95          3986  München             7012.042148
2  250000         16.09          2574     Köln             6250.971251
3  145000         27.58          4155  München             6637.785800
4  110000         23.76          3795   Berlin             6260.869565

In [14]:
# Trotz abgeschlossenem with Block, kann trotzdem auf Verbindung
# zugegriffen werden
connection.cursor() \
	.execute('SELECT * FROM hotels;') \
	.fetchall()

[(119000, 21.88, 3938, 'Berlin', 5556.119857795836),
 (250000, 27.95, 3986, 'München', 7012.042147516308),
 (250000, 16.09, 2574, 'Köln', 6250.971250971251),
 (145000, 27.58, 4155, 'München', 6637.785800240674),
 (110000, 23.76, 3795, 'Berlin', 6260.869565217391),
 (246000, 22.88, 2773, 'München', 8250.991705733863),
 (54000, 13.25, 634, 'München', 20899.05362776025),
 (2000, 8.94, 82, 'München', 109024.3902439024),
 (114000, 24.87, 3706, 'München', 6710.739341608203),
 (47000, 14.11, 1692, 'Berlin', 8339.243498817967),
 (54000, 11.65, 1989, 'Köln', 5857.214680744092),
 (124000, 17.26, 2616, 'Berlin', 6597.859327217126),
 (125000, 18.45, 3358, 'Köln', 5494.34187016081),
 (62000, 17.08, 1941, 'München', 8799.587841318908),
 (250000, 19.32, 1831, 'München', 10551.61114145276),
 (24000, 8.48, 800, 'Berlin', 10600.0),
 (102000, 14.16, 2700, 'Köln', 5244.444444444444),
 (26000, 13.84, 1257, 'München', 11010.34208432777),
 (85000, 19.59, 2644, 'Berlin', 7409.228441754917),
 (182000, 18.64, 2001, 'München', 9315.342328835583),
 (74000, 8.0, 1581, 'Köln', 5060.088551549652),
 (5000, 7.84, 82, 'München', 95609.75609756098),
 (134000, 15.54, 2412, 'Köln', 6442.786069651741),
 (14000, 6.09, 769, 'Köln', 7919.375812743823),
 (84000, 22.4, 3815, 'Berlin', 5871.559633027523),
 (124000, 23.44, 3122, 'München', 7508.007687379884),
 (32000, 17.75, 1492, 'München', 11896.78284182306),
 (250000, 6.73, 525, 'Köln', 12819.04761904762),
 (53000, 14.22, 1217, 'München', 11684.47000821693),
 (32000, 17.22, 1497, 'München', 11503.00601202405),
 (63000, 17.97, 3101, 'Berlin', 5794.904869396969),
 (88000, 13.58, 2644, 'Köln', 5136.157337367625),
 (156000, 19.1, 3631, 'Köln', 5260.25888185073),
 (138000, 13.09, 1461, 'Berlin', 8959.616700889801),
 (37000, 15.93, 1492, 'München', 10676.9436997319),
 (86000, 19.37, 2408, 'München', 8044.019933554818),
 (17000, 7.87, 859, 'Köln', 9161.816065192084),
 (23000, 9.76, 703, 'Berlin', 13883.35704125178),
 (136000, 22.98, 4908, 'Köln', 4682.151589242054),
 (129000, 14.15, 2545, 'Köln', 5559.92141453831),
 (34000, 13.77, 1847, 'Berlin', 7455.332972387656),
 (18000, 7.77, 502, 'Berlin', 15478.08764940239),
 (137000, 18.12, 3478, 'Köln', 5209.890741805635),
 (73000, 9.88, 756, 'Berlin', 13068.78306878307),
 (156000, 24.78, 5099, 'Köln', 4859.776426750343),
 (21000, 8.69, 1215, 'Köln', 7152.263374485597),
 (91000, 19.76, 3107, 'Berlin', 6359.832635983264),
 (72000, 13.76, 2375, 'Köln', 5793.684210526316),
 (101000, 11.87, 2101, 'Köln', 5649.690623512613),
 (250000, 24.21, 4832, 'Köln', 5010.347682119205),
 (57000, 13.0, 2458, 'Köln', 5288.852725793328),
 (83000, 23.6, 4561, 'Berlin', 5174.303880727911),
 (87000, 24.43, 4044, 'Berlin', 6041.04846686449),
 (141000, 21.93, 3896, 'Berlin', 5628.850102669405),
 (99000, 21.26, 2630, 'München', 8083.650190114068),
 (250000, 20.43, 3249, 'Berlin', 6288.08864265928),
 (99000, 14.97, 2409, 'Berlin', 6214.196762141968),
 (113000, 22.62, 2618, 'München', 8640.1833460657),
 (83000, 19.6, 3366, 'Köln', 5822.93523469994),
 (29000, 10.94, 1625, 'Köln', 6732.307692307692),
 (68000, 22.3, 3149, 'München', 7081.61321054303),
 (121000, 22.99, 3944, 'Berlin', 5829.107505070994),
 (71000, 16.32, 3162, 'Berlin', 5161.290322580645),
 (64000, 13.86, 1993, 'Köln', 6954.340190667335),
 (250000, 16.39, 2583, 'Köln', 6345.334881920247),
 (97000, 16.55, 2301, 'Berlin', 7192.524989135159),
 (4000, 6.95, 171, 'Berlin', 40643.27485380117),
 (250000, 20.64, 3876, 'Köln', 5325.077399380805),
 (13000, 12.1, 304, 'München', 39802.63157894737),
 (250000, 20.86, 3849, 'Köln', 5419.589503767213),
 (66000, 22.42, 2795, 'München', 8021.466905187835),
 (250000, 32.78, 5702, 'München', 5748.860049105577),
 (75000, 20.14, 4082, 'Köln', 4933.855952964233),
 (125000, 20.27, 3910, 'Köln', 5184.143222506394),
 (126000, 24.49, 4565, 'Berlin', 5364.731653888281),
 (250000, 27.94, 4436, 'München', 6298.467087466186),
 (250000, 10.41, 1355, 'Köln', 7682.656826568265),
 (64000, 14.9, 2220, 'Berlin', 6711.711711711711),
 (97000, 24.81, 3674, 'München', 6752.857920522591),
 (91000, 16.38, 2847, 'Köln', 5753.424657534246),
 (124000, 26.31, 5201, 'Berlin', 5058.642568736781),
 (25000, 9.07, 1002, 'Berlin', 9051.89620758483),
 (58000, 19.93, 3306, 'München', 6028.43315184513),
 (57000, 15.18, 2952, 'Köln', 5142.276422764227),
 (19000, 7.98, 723, 'Berlin', 11037.34439834025),
 (23000, 12.08, 760, 'München', 15894.73684210526),
 (26000, 9.63, 1241, 'Köln', 7759.871071716358),
 (96000, 23.05, 3168, 'München', 7275.883838383838),
 (250000, 28.24, 5741, 'Köln', 4919.00365789932),
 (45000, 17.71, 1873, 'München', 9455.419113721302),
 (3000, 6.62, 114, 'Berlin', 58070.17543859649),
 (116000, 21.03, 3707, 'Berlin', 5673.050984623685),
 (80000, 17.13, 3165, 'Köln', 5412.322274881517),
 (62000, 16.15, 1799, 'München', 8977.209560867148),
 (85000, 11.9, 647, 'München', 18392.58114374034),
 (20000, 8.97, 396, 'Berlin', 22651.51515151515),
 (61000, 7.75, 1346, 'Köln', 5757.800891530461),
 (142000, 30.14, 5427, 'München', 5553.712916896997),
 (156000, 17.67, 3085, 'Köln', 5727.71474878444),
 (39000, 13.98, 1594, 'Berlin', 8770.38895859473),
 (163000, 19.13, 3619, 'Köln', 5285.990605139541),
 (128000, 16.51, 1127, 'München', 14649.51197870453),
 (71000, 18.09, 2985, 'Berlin', 6060.301507537689),
 (67000, 20.95, 2770, 'München', 7563.176895306859),
 (7000, 9.25, 242, 'Berlin', 38223.14049586777),
 (250000, 26.66, 5519, 'Köln', 4830.58525095126),
 (69000, 13.97, 3062, 'Köln', 4562.377531025473),
 (120000, 22.87, 4681, 'Köln', 4885.70818201239),
 (34000, 18.3, 2501, 'München', 7317.073170731707),
 (25000, 11.21, 1690, 'Berlin', 6633.136094674556),
 (89000, 27.96, 4494, 'München', 6221.628838451268),
 (176000, 20.54, 2671, 'München', 7690.003743916136),
 (250000, 35.35, 5549, 'München', 6370.517210308164),
 (103000, 7.65, 1275, 'Köln', 6000.0),
 (56000, 14.56, 2218, 'Köln', 6564.472497745717),
 (76000, 18.78, 2186, 'München', 8591.033851784081),
 (7000, 4.16, 380, 'Köln', 10947.36842105263),
 (33000, 16.04, 1505, 'München', 10657.8073089701),
 (121000, 27.27, 4151, 'München', 6569.501324981932),
 (44000, 13.09, 1781, 'Berlin', 7349.803481190343),
 (250000, 31.79, 5607, 'Berlin', 5669.698591046906),
 (125000, 28.49, 5643, 'Köln', 5048.732943469786),
 (125000, 21.27, 3309, 'Berlin', 6427.92384406165),
 (48000, 17.86, 3302, 'Berlin', 5408.843125378558),
 (95000, 17.35, 3429, 'Köln', 5059.784193642461),
 (250000, 15.44, 2584, 'Köln', 5975.232198142415),
 (135000, 16.94, 3224, 'Köln', 5254.342431761786),
 (44000, 6.3, 788, 'Köln', 7994.923857868021),
 (192000, 23.82, 3708, 'Berlin', 6423.948220064725),
 (63000, 8.9, 1489, 'Köln', 5977.165883143049),
 (87000, 14.69, 2244, 'Köln', 6546.345811051693),
 (11000, 4.8, 179, 'Köln', 26815.64245810056),
 (121000, 13.21, 2220, 'Köln', 5950.45045045045),
 (104000, 19.87, 3374, 'Berlin', 5889.152341434499),
 (227000, 12.98, 1696, 'Berlin', 7653.301886792453),
 (250000, 12.73, 2115, 'Köln', 6018.912529550827),
 (250000, 19.6, 3558, 'Köln', 5508.712759977516),
 (35000, 7.91, 1021, 'Köln', 7747.306562193928),
 (187000, 24.9, 4008, 'Berlin', 6212.574850299401),
 (8000, 5.65, 267, 'Köln', 21161.04868913858),
 (250000, 29.45, 5256, 'Berlin', 5603.120243531203),
 (232000, 15.28, 2337, 'Köln', 6538.296961916988),
 (8000, 6.19, 449, 'Köln', 13786.19153674833),
 (213000, 23.86, 4763, 'Köln', 5009.44782699979),
 (159000, 21.4, 3078, 'Berlin', 6952.566601689408),
 (45000, 10.5, 1775, 'Köln', 5915.492957746479),
 (250000, 23.8, 4058, 'Köln', 5864.958107442089),
 (32000, 12.86, 1668, 'Berlin', 7709.832134292566),
 (35000, 15.8, 2281, 'Berlin', 6926.786497150372),
 (90000, 17.09, 2297, 'Berlin', 7440.139312146278),
 (12000, 15.5, 222, 'Zutzenhausen', 12.2)]

In [17]:
# Manuelles schließen
connection.close()

ABER ganz nutzlos ist with mit sqlite3 auch nicht:
Wir können auf connection.commit() verzichten durch 'with'

In [15]:
with sqlite3.connect(database_path) as connection:
	connection.execute('''INSERT INTO hotels
                          VALUES (12000, 15.5, 222, 'Zutzenhausen', 12.2)''')

In [16]:
with sqlite3.connect(database_path) as connection:
	df = pd.read_sql("SELECT * FROM hotels;", connection)

In [17]:
df.tail()

     Gewinn  Preis in Mio  Quadratmeter         Stadt  Preis pro Quadratmeter
147   32000         12.86          1668        Berlin             7709.832134
148   35000         15.80          2281        Berlin             6926.786497
149   90000         17.09          2297        Berlin             7440.139312
150   12000         15.50           222  Zutzenhausen               12.200000
151   12000         15.50           222  Zutzenhausen               12.200000

In [22]:
connection.close()

#### 2.2 `try` - Statement

In [18]:
# Alternativ dazu können wir einen try-except-finally-
# Block definieren
try:
	connection = sqlite3.connect(database_path)
	cursor = connection.cursor()
	cursor.execute("SELECT * FROM hotels")
	print(cursor.fetchall())
except:
	print('Irgendwas hat da nicht geklappt.')
finally:
	connection.close()

[(119000, 21.88, 3938, 'Berlin', 5556.119857795836), (250000, 27.95, 3986, 'München', 7012.042147516308), (250000, 16.09, 2574, 'Köln', 6250.971250971251), (145000, 27.58, 4155, 'München', 6637.785800240674), (110000, 23.76, 3795, 'Berlin', 6260.869565217391), (246000, 22.88, 2773, 'München', 8250.991705733863), (54000, 13.25, 634, 'München', 20899.05362776025), (2000, 8.94, 82, 'München', 109024.3902439024), (114000, 24.87, 3706, 'München', 6710.739341608203), (47000, 14.11, 1692, 'Berlin', 8339.243498817967), (54000, 11.65, 1989, 'Köln', 5857.214680744092), (124000, 17.26, 2616, 'Berlin', 6597.859327217126), (125000, 18.45, 3358, 'Köln', 5494.34187016081), (62000, 17.08, 1941, 'München', 8799.587841318908), (250000, 19.32, 1831, 'München', 10551.61114145276), (24000, 8.48, 800, 'Berlin', 10600.0), (102000, 14.16, 2700, 'Köln', 5244.444444444444), (26000, 13.84, 1257, 'München', 11010.34208432777), (85000, 19.59, 2644, 'Berlin', 7409.228441754917), (182000, 18.64, 2001, 'München', 9315.342328835583), (74000, 8.0, 1581, 'Köln', 5060.088551549652), (5000, 7.84, 82, 'München', 95609.75609756098), (134000, 15.54, 2412, 'Köln', 6442.786069651741), (14000, 6.09, 769, 'Köln', 7919.375812743823), (84000, 22.4, 3815, 'Berlin', 5871.559633027523), (124000, 23.44, 3122, 'München', 7508.007687379884), (32000, 17.75, 1492, 'München', 11896.78284182306), (250000, 6.73, 525, 'Köln', 12819.04761904762), (53000, 14.22, 1217, 'München', 11684.47000821693), (32000, 17.22, 1497, 'München', 11503.00601202405), (63000, 17.97, 3101, 'Berlin', 5794.904869396969), (88000, 13.58, 2644, 'Köln', 5136.157337367625), (156000, 19.1, 3631, 'Köln', 5260.25888185073), (138000, 13.09, 1461, 'Berlin', 8959.616700889801), (37000, 15.93, 1492, 'München', 10676.9436997319), (86000, 19.37, 2408, 'München', 8044.019933554818), (17000, 7.87, 859, 'Köln', 9161.816065192084), (23000, 9.76, 703, 'Berlin', 13883.35704125178), (136000, 22.98, 4908, 'Köln', 4682.151589242054), (129000, 14.15, 2545, 'Köln', 5559.92141453831), (34000, 13.77, 1847, 'Berlin', 7455.332972387656), (18000, 7.77, 502, 'Berlin', 15478.08764940239), (137000, 18.12, 3478, 'Köln', 5209.890741805635), (73000, 9.88, 756, 'Berlin', 13068.78306878307), (156000, 24.78, 5099, 'Köln', 4859.776426750343), (21000, 8.69, 1215, 'Köln', 7152.263374485597), (91000, 19.76, 3107, 'Berlin', 6359.832635983264), (72000, 13.76, 2375, 'Köln', 5793.684210526316), (101000, 11.87, 2101, 'Köln', 5649.690623512613), (250000, 24.21, 4832, 'Köln', 5010.347682119205), (57000, 13.0, 2458, 'Köln', 5288.852725793328), (83000, 23.6, 4561, 'Berlin', 5174.303880727911), (87000, 24.43, 4044, 'Berlin', 6041.04846686449), (141000, 21.93, 3896, 'Berlin', 5628.850102669405), (99000, 21.26, 2630, 'München', 8083.650190114068), (250000, 20.43, 3249, 'Berlin', 6288.08864265928), (99000, 14.97, 2409, 'Berlin', 6214.196762141968), (113000, 22.62, 2618, 'München', 8640.1833460657), (83000, 19.6, 3366, 'Köln', 5822.93523469994), (29000, 10.94, 1625, 'Köln', 6732.307692307692), (68000, 22.3, 3149, 'München', 7081.61321054303), (121000, 22.99, 3944, 'Berlin', 5829.107505070994), (71000, 16.32, 3162, 'Berlin', 5161.290322580645), (64000, 13.86, 1993, 'Köln', 6954.340190667335), (250000, 16.39, 2583, 'Köln', 6345.334881920247), (97000, 16.55, 2301, 'Berlin', 7192.524989135159), (4000, 6.95, 171, 'Berlin', 40643.27485380117), (250000, 20.64, 3876, 'Köln', 5325.077399380805), (13000, 12.1, 304, 'München', 39802.63157894737), (250000, 20.86, 3849, 'Köln', 5419.589503767213), (66000, 22.42, 2795, 'München', 8021.466905187835), (250000, 32.78, 5702, 'München', 5748.860049105577), (75000, 20.14, 4082, 'Köln', 4933.855952964233), (125000, 20.27, 3910, 'Köln', 5184.143222506394), (126000, 24.49, 4565, 'Berlin', 5364.731653888281), (250000, 27.94, 4436, 'München', 6298.467087466186), (250000, 10.41, 1355, 'Köln', 7682.656826568265), (64000, 14.9, 2220, 'Berlin', 6711.711711711711), (97000, 24.81, 3674, 'München', 6752.857920522591), (91000, 16.38, 2847, 'Köln', 5753.424657534246), (124000, 26.31, 5201, 'Berlin', 5058.642568736781), (25000, 9.07, 1002, 'Berlin', 9051.89620758483), (58000, 19.93, 3306, 'München', 6028.43315184513), (57000, 15.18, 2952, 'Köln', 5142.276422764227), (19000, 7.98, 723, 'Berlin', 11037.34439834025), (23000, 12.08, 760, 'München', 15894.73684210526), (26000, 9.63, 1241, 'Köln', 7759.871071716358), (96000, 23.05, 3168, 'München', 7275.883838383838), (250000, 28.24, 5741, 'Köln', 4919.00365789932), (45000, 17.71, 1873, 'München', 9455.419113721302), (3000, 6.62, 114, 'Berlin', 58070.17543859649), (116000, 21.03, 3707, 'Berlin', 5673.050984623685), (80000, 17.13, 3165, 'Köln', 5412.322274881517), (62000, 16.15, 1799, 'München', 8977.209560867148), (85000, 11.9, 647, 'München', 18392.58114374034), (20000, 8.97, 396, 'Berlin', 22651.51515151515), (61000, 7.75, 1346, 'Köln', 5757.800891530461), (142000, 30.14, 5427, 'München', 5553.712916896997), (156000, 17.67, 3085, 'Köln', 5727.71474878444), (39000, 13.98, 1594, 'Berlin', 8770.38895859473), (163000, 19.13, 3619, 'Köln', 5285.990605139541), (128000, 16.51, 1127, 'München', 14649.51197870453), (71000, 18.09, 2985, 'Berlin', 6060.301507537689), (67000, 20.95, 2770, 'München', 7563.176895306859), (7000, 9.25, 242, 'Berlin', 38223.14049586777), (250000, 26.66, 5519, 'Köln', 4830.58525095126), (69000, 13.97, 3062, 'Köln', 4562.377531025473), (120000, 22.87, 4681, 'Köln', 4885.70818201239), (34000, 18.3, 2501, 'München', 7317.073170731707), (25000, 11.21, 1690, 'Berlin', 6633.136094674556), (89000, 27.96, 4494, 'München', 6221.628838451268), (176000, 20.54, 2671, 'München', 7690.003743916136), (250000, 35.35, 5549, 'München', 6370.517210308164), (103000, 7.65, 1275, 'Köln', 6000.0), (56000, 14.56, 2218, 'Köln', 6564.472497745717), (76000, 18.78, 2186, 'München', 8591.033851784081), (7000, 4.16, 380, 'Köln', 10947.36842105263), (33000, 16.04, 1505, 'München', 10657.8073089701), (121000, 27.27, 4151, 'München', 6569.501324981932), (44000, 13.09, 1781, 'Berlin', 7349.803481190343), (250000, 31.79, 5607, 'Berlin', 5669.698591046906), (125000, 28.49, 5643, 'Köln', 5048.732943469786), (125000, 21.27, 3309, 'Berlin', 6427.92384406165), (48000, 17.86, 3302, 'Berlin', 5408.843125378558), (95000, 17.35, 3429, 'Köln', 5059.784193642461), (250000, 15.44, 2584, 'Köln', 5975.232198142415), (135000, 16.94, 3224, 'Köln', 5254.342431761786), (44000, 6.3, 788, 'Köln', 7994.923857868021), (192000, 23.82, 3708, 'Berlin', 6423.948220064725), (63000, 8.9, 1489, 'Köln', 5977.165883143049), (87000, 14.69, 2244, 'Köln', 6546.345811051693), (11000, 4.8, 179, 'Köln', 26815.64245810056), (121000, 13.21, 2220, 'Köln', 5950.45045045045), (104000, 19.87, 3374, 'Berlin', 5889.152341434499), (227000, 12.98, 1696, 'Berlin', 7653.301886792453), (250000, 12.73, 2115, 'Köln', 6018.912529550827), (250000, 19.6, 3558, 'Köln', 5508.712759977516), (35000, 7.91, 1021, 'Köln', 7747.306562193928), (187000, 24.9, 4008, 'Berlin', 6212.574850299401), (8000, 5.65, 267, 'Köln', 21161.04868913858), (250000, 29.45, 5256, 'Berlin', 5603.120243531203), (232000, 15.28, 2337, 'Köln', 6538.296961916988), (8000, 6.19, 449, 'Köln', 13786.19153674833), (213000, 23.86, 4763, 'Köln', 5009.44782699979), (159000, 21.4, 3078, 'Berlin', 6952.566601689408), (45000, 10.5, 1775, 'Köln', 5915.492957746479), (250000, 23.8, 4058, 'Köln', 5864.958107442089), (32000, 12.86, 1668, 'Berlin', 7709.832134292566), (35000, 15.8, 2281, 'Berlin', 6926.786497150372), (90000, 17.09, 2297, 'Berlin', 7440.139312146278), (12000, 15.5, 222, 'Zutzenhausen', 12.2), (12000, 15.5, 222, 'Zutzenhausen', 12.2)]

## Prepared statement in SQL
"Prepared statements" verbessern zum einen die Laufzeit von Queries, welche mehrmals mit unterschiedlichen Werten aufgerufen werden. Außerdem bieten sie einen wichtigen Schutz gegen Angriffe von außen durch sogenannte SQL-Injections (Einschleusung von SQL-Code).

### 1. Question Mark Style
1.1 Insert mit Question Mark style. Hier stehen '?' stellvertretend für beliebige Werte

In [44]:
connection = sqlite3.connect(database_path)
cursor = connection.cursor()

In [45]:
# Tabelle erstellen:
connection.execute(
	'''CREATE TABLE IF NOT EXISTS programmiersprachen(
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR(50) UNIQUE NOT NULL,
            first_appeared INT);'''
)

In [46]:
# Fragezeichen können als Platzhalter dienen, um dann einen Befehl
# mehrmals mit unterschiedlichen Werten ausführen zu können

# Die einzutragenden Werte, jedes Tupel ist ein Eintrag:
data = [
	("Ada Lovelace Machinealgorithm", 1843),
	("Assembler", 1949),
	("COBOL", 1959),
	("SQL", 1972),
	("C++", 1985),
	("Python", 1991),
	("Swift", 2014)
]

In [47]:
# Mit executemany kann man einen Befehl wiederholt auf eine iterierbare Datenstruktur anwenden.
# In unserem Fall liegt eine Liste aus Tupeln vor und executemany führt das Insert so oft aus,
# wie es Tupel in der Liste gibt.

# Da die Tupel jeweils über zwei Werte verfügen, werden sie von VALUES(?, ?) abgebildet:
cursor.executemany('''
                  INSERT INTO programmiersprachen(name, first_appeared)
                  VALUES (?, ?)''', data)

In [30]:
# Was ist eigentlich mit der ID-Spalte?
# ...AUTOINCREMENT

[]

In [23]:
help(cursor.executemany)

Help on built-in function executemany:

executemany(sql, seq_of_parameters, /) method of sqlite3.Cursor instance
    Repeatedly executes an SQL statement.

In [48]:
connection.commit()

In [42]:
cursor.execute('SELECT * FROM programmiersprachen;').fetchall()

[(17, 'Ada Lovelace Machinealgorithm', 1843),
 (18, 'Assembler', 1949),
 (19, 'COBOL', 1959),
 (20, 'SQL', 1972),
 (21, 'C++', 1985),
 (22, 'Python', 1991),
 (23, 'Swift', 2014)]

1.2 Tabelle ausgeben lassen

In [26]:
result = cursor.execute('SELECT * FROM programmiersprachen;').fetchall()
for row in result:
	print(row)

(1, 'Ada Lovelace Machinealgorithm', 1843)
(2, 'Assembler', 1949)
(3, 'COBOL', 1959)
(4, 'SQL', 1972)
(5, 'C++', 1985)
(6, 'Python', 1991)
(7, 'Swift', 2014)
(8, 'Ada Lovelace Machinealgorithm', 1843)
(9, 'Assembler', 1949)
(10, 'COBOL', 1959)
(11, 'SQL', 1972)
(12, 'C++', 1985)
(13, 'Python', 1991)
(14, 'Swift', 2014)

In [27]:
# Tuple unpacking:
result = cursor.execute('SELECT * FROM programmiersprachen;').fetchall()
for _, name, year in result:
	print('Name der Sprache:', name)
	print('Erscheinungsjahr:', year)
	print()

Name der Sprache: Ada Lovelace Machinealgorithm
Erscheinungsjahr: 1843

Name der Sprache: Assembler
Erscheinungsjahr: 1949

Name der Sprache: COBOL
Erscheinungsjahr: 1959

Name der Sprache: SQL
Erscheinungsjahr: 1972

Name der Sprache: C++
Erscheinungsjahr: 1985

Name der Sprache: Python
Erscheinungsjahr: 1991

Name der Sprache: Swift
Erscheinungsjahr: 2014

Name der Sprache: Ada Lovelace Machinealgorithm
Erscheinungsjahr: 1843

Name der Sprache: Assembler
Erscheinungsjahr: 1949

Name der Sprache: COBOL
Erscheinungsjahr: 1959

Name der Sprache: SQL
Erscheinungsjahr: 1972

Name der Sprache: C++
Erscheinungsjahr: 1985

Name der Sprache: Python
Erscheinungsjahr: 1991

Name der Sprache: Swift
Erscheinungsjahr: 2014

1.3 Select mit Question Mark style

In [28]:
abfrage = 'SELECT * FROM programmiersprachen WHERE name = ?;'
# (Python,) steht für ein Tupel mit nur EINEM Element:
cursor.execute(abfrage, ('Python',))
cursor.fetchall()

[(6, 'Python', 1991), (13, 'Python', 1991)]

In [29]:
abfrage = 'SELECT * FROM programmiersprachen WHERE name = ? OR first_appeared = ?;'
# (Python,) steht für ein Tupel mit nur EINEM Element:
cursor.execute(abfrage, ('Python', 1843))
cursor.fetchall()

[(1, 'Ada Lovelace Machinealgorithm', 1843),
 (6, 'Python', 1991),
 (8, 'Ada Lovelace Machinealgorithm', 1843),
 (13, 'Python', 1991)]

1.4 Verwendung in Python-Funktionen

In [30]:
# Funktion erstellen, mit der wir neue Zeilen
# in Tabelle 'hotels' eintragen können:
def add_hotel(gewinn, preis, qm, stadt, qm_preis):
	query = '''INSERT INTO hotels
               VALUES(?, ?, ?, ?, ?);'''
	cursor.execute(query, (gewinn, preis, qm, stadt, qm_preis))
	connection.commit()
	return 'Hotel wurde hinzugefügt!'

In [31]:
# Funktion aufrufen:
add_hotel(125641, 15, 300, "Bamberg", 3500)

'Hotel wurde hinzugefügt!'

In [49]:
# Zu programmiersprachen mit with-Schreibweise hinzufügen.
# Funktion (durch with kein commit mehr nötig!):
def add_language(name, year):
	query = '''INSERT INTO programmiersprachen(name, first_appeared)
               VALUES(?, ?);'''
	with connection:
		connection.execute(query, (name, year))
	return 'Programmiersprache hinzugefügt!'

In [50]:
add_language('Rust', 2006)

'Programmiersprache hinzugefügt!'

In [ ]:
# Eventuelle Übungsaufgabe:
# Eine Funktion schreiben, die zu areas neue Zeilen hinzufügt.

In [51]:
def add_row(preis, quadratmeter, stadt):
	query = '''
	INSERT INTO areas(preis, quadratmeter, stadt)
	VALUES (?, ?, ?);
	'''
	with connection:
		connection.execute(query, (preis, quadratmeter, stadt))
		return 'Stadt wurde hinzugefügt!'

In [52]:
add_row(133.42, 75, 'Hörnum/Sylt')

'Stadt wurde hinzugefügt!'

### 2. Named style
2.1 Insert mit named style

In [53]:
# Mithilfe eines Dictionaries können Keys der Zuordnung der Werte dienen
# Dadurch müssen Werte nicht in richtiger Reihenfolge stehen:
name_sql = """
            INSERT INTO programmiersprachen(name, first_appeared)
            VALUES(:name, :first_appeared);"""

sprache = {'first_appeared': 1993, 'name': 'Brainfuck'}

connection.execute(name_sql, sprache)

In [54]:
connection.commit()

In [55]:
cursor.execute("SELECT * FROM programmiersprachen")
cursor.fetchall()

[(1, 'Ada Lovelace Machinealgorithm', 1843),
 (2, 'Assembler', 1949),
 (3, 'COBOL', 1959),
 (4, 'SQL', 1972),
 (5, 'C++', 1985),
 (6, 'Python', 1991),
 (7, 'Swift', 2014),
 (8, 'Rust', 2006),
 (9, 'Brainfuck', 1993)]

2.2 Tabelle mit where-Bedingung ausgeben (named style)

In [56]:
cursor.execute("""
               SELECT *
               FROM programmiersprachen
               WHERE first_appeared > :year;""",
			   {"year": 1990})

cursor.fetchall()

[(6, 'Python', 1991),
 (7, 'Swift', 2014),
 (8, 'Rust', 2006),
 (9, 'Brainfuck', 1993)]

In [57]:
# Schließen nicht vergessen!
connection.close()

### 3. Warum nicht einfach f-String? >>> SQL-Injections!
Lasst uns eine ganze Tabelle voller "geheimer Inhalte" klauen!

In [58]:
connection = sqlite3.connect(database_path)

In [59]:
with connection:
	connection.execute('''CREATE TABLE IF NOT EXISTS super_confident(
                               password VARCHAR,
                               secret_content VARCHAR);
                               ''')

In [60]:
data = [('21412452d', 'Daten zum Konto in der Schweiz'),
		('Zdsam832197m', 'Das größte Geheimnis'),
		('998321_dsHwoepw§', 'Die Weltformel')]

with connection:
	connection.executemany('''INSERT INTO super_confident
                              VALUES(?, ?)''', data)

In [61]:
cursor = connection.cursor()
cursor.execute('SELECT * FROM super_confident;')
cursor.fetchall()

[('21412452d', 'Daten zum Konto in der Schweiz'),
 ('Zdsam832197m', 'Das größte Geheimnis'),
 ('998321_dsHwoepw§', 'Die Weltformel')]

In [62]:
# So sollten Nutzer auf ihre Geheimnisse zugreifen:
code = 'Zdsam832197m'
cursor.execute(f'''SELECT * FROM super_confident WHERE password = '{code}';''')

In [63]:
cursor.fetchall()

[('Zdsam832197m', 'Das größte Geheimnis')]

In [64]:
# Jetzt kommt der "Angriff":
injection = '1 OR 1=1'
cursor.execute(f'''SELECT * FROM super_confident
                   WHERE password = {injection}''')

In [65]:
# Die Katastrophe: Wir haben nun die komplette Tabelle!
cursor.fetchall()

[('21412452d', 'Daten zum Konto in der Schweiz'),
 ('Zdsam832197m', 'Das größte Geheimnis'),
 ('998321_dsHwoepw§', 'Die Weltformel')]

In [66]:
# Was passiert, wenn wir '?' schreiben?
injection = '1 OR 1=1'
cursor.execute('''SELECT * FROM super_confident
                   WHERE password = ?''', (injection,))

In [67]:
# So sieht es schon besser aus!
cursor.fetchall()

[]

In [ ]:
# Übungsaufgabe: Schreibe weiter an app.py und database.py von gestern.
# Schreibe die Funktion insert_topic so, dass der Nutzer Datum und Lerninhalt eintragen kann,
# aber die Gefahr von SQL-Einschleusung nicht besteht!
# Schreibe die Funktion view_entries aus.
# Falls die Zeit reicht: Verbaue die Funktionen in app.py

In [ ]:
# Berücksichtige den Walrus-Operator:
# https://towardsdatascience.com/the-walrus-operator-in-python-a315e4f84583