In [13]:
# Importiere, was du so fürs Leben brauchst ;)
import numpy as np
import pandas as pd

Aufgabe 1:
Lade den Datensatz "Data Science Salaries 2024" [hier](https://www.kaggle.com/datasets/sazidthe1/data-science-salaries) herunter, lade ihn mit Pandas und speichere das Ergebnis in die Variabel salaries.

In [14]:
salaries = pd.read_csv('data_science_salaries.csv')

Aufgabe 2:
Lasse dir Informationen über Spalten und Verbrauch an Arbeitsspeicher 
ausgeben, bitte als Kurzzusammenfassung (keine Zeile für jede Spalte!)

In [15]:
salaries.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Columns: 11 entries, job_title to company_size
dtypes: int64(3), object(8)
memory usage: 3.1 MB

Aufgabe 3:
Lasse dir die Größe des Dataframes (Anzahl Einträge) ausgeben.
Lasse dir außerdem auch seine Anzahl Spalten und Zeilen anzeigen.
Selektiere außerdem zur Übung einmal folgende Spalten: job_title, 
experience_level und salary_in_usd

In [16]:
print(salaries.size)
print(salaries.shape)

72589
(6599, 11)

In [17]:
salaries[['job_title', 'experience_level', 'salary_in_usd']]

                     job_title experience_level  salary_in_usd
0                Data Engineer        Mid-level         148100
1                Data Engineer        Mid-level          98700
2               Data Scientist     Senior-level         140032
3               Data Scientist     Senior-level         100022
4                 BI Developer        Mid-level         120000
...                        ...              ...            ...
6594        Staff Data Analyst      Entry-level          44753
6595        Staff Data Analyst  Executive-level          15000
6596  Machine Learning Manager     Senior-level         117104
6597             Data Engineer        Mid-level          74130
6598            Data Scientist     Senior-level          91237

[6599 rows x 3 columns]

Aufgabe 4:
Lasse dir eine statistische Übersicht über den gesamten Datensatz ausgeben.
Wieso findest du dort nicht alle Spalten?

In [18]:
salaries.describe()
# Antwort: Nur numerische Spalten können in entsprechende statistische 
# Größen überführt werden.

         work_year        salary  salary_in_usd
count  6599.000000  6.599000e+03    6599.000000
mean   2022.818457  1.792833e+05  145560.558569
std       0.674809  5.263722e+05   70946.838070
min    2020.000000  1.400000e+04   15000.000000
25%    2023.000000  9.600000e+04   95000.000000
50%    2023.000000  1.400000e+05  138666.000000
75%    2023.000000  1.875000e+05  185000.000000
max    2024.000000  3.040000e+07  750000.000000

Aufgabe 5:
Lasse dir die oberen sechs Einträge anzeigen. Lasse dir ferner die unteren 
10 anzeigen. Ziehe schließlich eine Stichprobe mit random state 42, die 20 
Menschen umfasst und speichere sie in tech_sample. Vergleiche die Personen 
in der Stichprobe mit deinen Kollegen aus der Gruppe!

In [19]:
salaries.head(6)

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium
5,BI Developer,Mid-level,Full-time,On-site,2024,United States,62100,USD,62100,United States,Medium

In [20]:
salaries.tail(10)

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
6589,Data Engineer,Mid-level,Full-time,Remote,2020,Germany,51999,EUR,59303,Germany,Small
6590,ML Engineer,Entry-level,Part-time,Remote,2020,Germany,14000,EUR,15966,Germany,Small
6591,Data Scientist,Mid-level,Full-time,On-site,2020,Germany,70000,EUR,79833,Germany,Large
6592,Data Scientist,Entry-level,Full-time,Hybrid,2020,Germany,55000,EUR,62726,Germany,Small
6593,Principal Data Scientist,Senior-level,Full-time,Remote,2020,Germany,130000,EUR,148261,Germany,Medium
6594,Staff Data Analyst,Entry-level,Contract,Hybrid,2020,Canada,60000,CAD,44753,Canada,Large
6595,Staff Data Analyst,Executive-level,Full-time,On-site,2020,Nigeria,15000,USD,15000,Canada,Medium
6596,Machine Learning Manager,Senior-level,Full-time,Hybrid,2020,Canada,157000,CAD,117104,Canada,Large
6597,Data Engineer,Mid-level,Full-time,Hybrid,2020,Austria,65000,EUR,74130,Austria,Large
6598,Data Scientist,Senior-level,Full-time,On-site,2020,Austria,80000,EUR,91237,Austria,Small

In [21]:
salaries.sample(20, random_state=42)

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
2098,Applied Scientist,Senior-level,Full-time,Remote,2023,United States,230000,USD,230000,United States,Medium
5338,Data Scientist,Senior-level,Full-time,Remote,2022,United States,104000,USD,104000,United States,Medium
4407,Data Science Engineer,Senior-level,Full-time,On-site,2023,United States,100000,USD,100000,United States,Medium
6108,Data Engineer,Mid-level,Full-time,Remote,2022,Greece,60000,EUR,63040,Greece,Medium
4025,Data Scientist,Senior-level,Full-time,Remote,2023,United States,238000,USD,238000,United States,Medium
6204,Data Engineer,Senior-level,Full-time,On-site,2022,Spain,35000,EUR,36773,Spain,Medium
4880,Data Engineer,Mid-level,Full-time,Remote,2023,France,53000,EUR,57223,France,Medium
1446,Data Engineer,Mid-level,Full-time,On-site,2023,United States,104000,USD,104000,United States,Medium
5712,Business Data Analyst,Mid-level,Full-time,Remote,2022,United States,150000,USD,150000,United States,Large
5540,Data Manager,Entry-level,Full-time,Remote,2022,United States,77300,USD,77300,United States,Medium
4362,Data Scientist,Entry-level,Full-time,On-site,2023,United States,74540,USD,74540,United States,Medium
217,Data Analyst,Entry-level,Full-time,Remote,2024,United States,120000,USD,120000,United States,Medium
491,Data Architect,Senior-level,Full-time,On-site,2024,United States,130000,USD,130000,United States,Medium
535,Machine Learning Engineer,Mid-level,Full-time,Remote,2024,Spain,83900,EUR,93222,Spain,Medium
1562,Business Intelligence Analyst,Mid-level,Full-time,Remote,2023,United States,125009,USD,125009,United States,Medium
6497,Machine Learning Engineer,Entry-level,Full-time,Hybrid,2021,Germany,21000,EUR,24823,Germany,Medium
4450,Machine Learning Researcher,Senior-level,Freelance,Hybrid,2023,Ukraine,50000,USD,50000,Ukraine,Small
2462,Head of Data,Executive-level,Full-time,Remote,2023,United States,200000,USD,200000,United States,Medium
833,Data Analyst,Mid-level,Full-time,On-site,2023,United States,75000,USD,75000,United States,Medium
96,Data Science,Senior-level,Full-time,On-site,2024,United States,160000,USD,160000,United States,Medium

Aufgabe 6:
In wie vielen unterschiedlichen Ländern arbeiten die hier erfassten Personen?

In [22]:
salaries['company_location'].nunique()

75

Aufgabe 7:
Was sind die fünf Länder mit den meisten im Datensatz erfassten 
Tech-Arbeitern?

In [23]:
salaries['company_location'].value_counts().head()

company_location
United States     5354
United Kingdom     408
Canada             243
Germany             78
Spain               63
Name: count, dtype: int64

In [31]:
salaries['company_location'].value_counts().nlargest(5)

company_location
United States     5354
United Kingdom     408
Canada             243
Germany             78
Spain               63
Name: count, dtype: int64

Aufgabe 8:
Wie viele verschiedene Jobrollen gibt es?

In [24]:
salaries['job_title'].unique()

array(['Data Engineer', 'Data Scientist', 'BI Developer',
       'Research Analyst', 'Business Intelligence Developer',
       'Data Analyst', 'Director of Data Science', 'MLOps Engineer',
       'Machine Learning Scientist', 'Machine Learning Engineer',
       'Data Science Manager', 'Applied Scientist',
       'Business Intelligence Analyst', 'Analytics Engineer',
       'Business Intelligence Engineer', 'Data Science',
       'Research Scientist', 'Research Engineer',
       'Managing Director Data Science', 'AI Engineer', 'Data Specialist',
       'Data Architect', 'Data Visualization Specialist', 'ETL Developer',
       'Data Science Practitioner', 'Computer Vision Engineer',
       'Data Lead', 'ML Engineer', 'Data Developer', 'Data Modeler',
       'Data Science Consultant', 'AI Architect',
       'Data Analytics Manager', 'Data Science Engineer',
       'Data Product Manager', 'Data Quality Analyst', 'Data Strategist',
       'Prompt Engineer', 'Data Science Lead',
       'Business Intelligence Manager', 'Data Manager',
       'Data Analytics Lead', 'Machine Learning Infrastructure Engineer',
       'Data Integration Engineer', 'Data Management Analyst',
       'BI Analyst', 'Business Data Analyst',
       'Machine Learning Operations Engineer', 'NLP Engineer',
       'Marketing Data Scientist', 'AI Scientist',
       'Machine Learning Researcher', 'Data Science Director',
       'Head of Data', 'Machine Learning Modeler',
       'Data Integration Specialist', 'Data Management Specialist',
       'AI Developer', 'Business Intelligence Specialist',
       'Data Quality Engineer', 'Decision Scientist',
       'Financial Data Analyst', 'Data Strategy Manager',
       'Data Visualization Engineer', 'Principal Data Scientist',
       'Data Infrastructure Engineer',
       'Machine Learning Software Engineer', 'Head of Machine Learning',
       'Data Operations Analyst', 'Data Operations Engineer',
       'Machine Learning Manager', 'BI Data Analyst',
       'AI Research Engineer', 'Deep Learning Engineer',
       'Data Operations Manager', 'Head of Data Science',
       'Software Data Engineer', 'Compliance Data Analyst',
       'Data Operations Specialist', 'Business Intelligence Data Analyst',
       'AWS Data Architect', 'Product Data Analyst',
       'Data Visualization Analyst', 'Cloud Data Engineer',
       'Finance Data Analyst', 'Applied Machine Learning Engineer',
       'Lead Data Analyst', 'BI Data Engineer', 'Cloud Database Engineer',
       'Applied Machine Learning Scientist', 'Data Analytics Specialist',
       'Big Data Engineer', 'Machine Learning Research Engineer',
       'Staff Data Analyst', 'Lead Data Scientist', 'Insight Analyst',
       'Azure Data Engineer', 'Data Analyst Lead', 'AI Programmer',
       'Applied Data Scientist', 'AI Product Manager',
       'Principal Machine Learning Engineer',
       'Lead Machine Learning Engineer', 'Data Quality Manager',
       'Data Product Owner', 'Data Modeller',
       'Analytics Engineering Manager', 'Autonomous Vehicle Technician',
       'ETL Engineer', 'Big Data Architect',
       'Machine Learning Specialist', 'Data DevOps Engineer',
       'Principal Data Engineer', 'Power BI Developer',
       'Deep Learning Researcher', 'Consultant Data Engineer',
       'Computer Vision Software Engineer', 'Manager Data Management',
       'Data Analytics Consultant', 'Data Science Tech Lead',
       'Data Analytics Engineer', 'Data Scientist Lead',
       'Machine Learning Developer', 'Principal Data Architect',
       'Marketing Data Analyst', 'Lead Data Engineer',
       'Principal Data Analyst', 'Staff Machine Learning Engineer',
       'Cloud Data Architect', 'Staff Data Scientist',
       'Marketing Data Engineer', 'Sales Data Analyst'], dtype=object)

In [25]:
print('Anzahl Jobrollen:', salaries['job_title'].nunique())

Anzahl Jobrollen: 132

Aufgabe 9:
Wie viele Personen gibt es, die AI Engineers sind?
Löse, ohne durch Output gehen zu müssen!

In [26]:
salaries['job_title'].value_counts()

job_title
Data Engineer                1307
Data Scientist               1243
Data Analyst                  910
Machine Learning Engineer     629
Analytics Engineer            246
                             ...
Deep Learning Researcher        1
Power BI Developer              1
Marketing Data Scientist        1
AI Product Manager              1
Sales Data Analyst              1
Name: count, Length: 132, dtype: int64

In [27]:
# Value Counts gibt Anzahlen für alle Rollen und im Index stehen die 
# Jobtitel, d.h. wir können über den Index direkt auf das erwünschte Element
# zugreifen!
salaries['job_title'].value_counts()['AI Engineer']

48

Aufgabe 10:
Lass dir die statistische Zusammenfassung der Gehälter in US-Dollar ausgeben

In [28]:
salaries['salary_in_usd'].describe()

count      6599.000000
mean     145560.558569
std       70946.838070
min       15000.000000
25%       95000.000000
50%      138666.000000
75%      185000.000000
max      750000.000000
Name: salary_in_usd, dtype: float64

Aufgabe 11:
Erstelle eine Spalte mit Gehaltskategorien (salary_level)
* low income: unter 30000
* middle income: über 30000, aber unter 80000
* high income: über 80000

In [29]:
salaries['salary_level'] = pd.cut(salaries['salary_in_usd'],
                            bins=[0, 30_000, 80_000, np.inf],  # statt inf würde auch 10^9 reichen ;)
                            labels=['low income', 'middle income', 'high income'],
                            include_lowest=True,
                            )


Aufgabe 12:
Zähle nun die Einkommensklassen, aber lasse sie Anteile am Gesamt-Datensatz 
ausgeben!

In [30]:
salaries['salary_level'].value_counts(normalize=True)

salary_level
high income      0.821791
middle income    0.162449
low income       0.015760
Name: proportion, dtype: float64

Aufgabe 13:
Hey, du hast einen Datensatz und weißt schon so Manches damit anzufangen! 
Niemand hindert dich, weiter deine Künste daran auszuprobieren und 
Fragenstellungen nachzugehen, die dich interessieren. In dem Sinne: Viel 
Spaß mit Aufgabe 13! ;)